<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.wechat.dao.MetaSettingDao" >
  <resultMap id="BaseResult" type="com.tmt.wechat.entity.MetaSetting"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="APP_ID" property="appId" jdbcType="VARCHAR"/>
    <result column="DEFAULT_TYPE" property="defaultType" jdbcType="TINYINT"/>
    <result column="DEFAULT_CONFIG" property="defaultConfig" jdbcType="VARCHAR"/>
    <result column="ATTENTION_TYPE" property="attentionType" jdbcType="TINYINT"/>
    <result column="ATTENTION_CONFIG" property="attentionConfig" jdbcType="VARCHAR"/>
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT"/>
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <select id="getByAppId" resultMap="BaseResult" parameterType="String">
   SELECT ID, APP_ID, DEFAULT_TYPE, DEFAULT_CONFIG, ATTENTION_TYPE, ATTENTION_CONFIG, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE
     FROM WECHAT_META_SETTING
    WHERE APP_ID = #{appId}
  </select>
  
  <select id="get" resultMap="BaseResult" parameterType="Long">
   SELECT ID, APP_ID, DEFAULT_TYPE, DEFAULT_CONFIG, ATTENTION_TYPE, ATTENTION_CONFIG, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE
     FROM WECHAT_META_SETTING
    WHERE ID = #{id}
  </select>
  
  <insert id="insert" parameterType="com.tmt.wechat.entity.MetaSetting">
   INSERT INTO WECHAT_META_SETTING (ID, APP_ID, DEFAULT_TYPE, DEFAULT_CONFIG, ATTENTION_TYPE, ATTENTION_CONFIG, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE)
   VALUES (#{id}, #{appId}, #{defaultType}, #{defaultConfig}, #{attentionType}, #{attentionConfig}, #{createId}, #{createName}, 
		  #{createDate}, #{updateDate})
  </insert>
  
  <update id="update" parameterType="com.tmt.wechat.entity.MetaSetting">
   UPDATE WECHAT_META_SETTING
      SET DEFAULT_TYPE = #{defaultType},
		  DEFAULT_CONFIG = #{defaultConfig},
		  ATTENTION_TYPE = #{attentionType},
		  ATTENTION_CONFIG = #{attentionConfig},
		  UPDATE_DATE = #{updateDate}
    WHERE ID = #{id}
  </update>
</mapper>
