<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.wechat.dao.AppDao" >
  <resultMap id="BaseResult" type="com.tmt.wechat.entity.App"> 
    <result column="ID" property="id" jdbcType="VARCHAR"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
    <result column="TYPE" property="type" jdbcType="TINYINT"/>
    <result column="SRC_ID" property="srcId" jdbcType="VARCHAR"/>
    <result column="QR_CODE" property="qrCode" jdbcType="VARCHAR"/>
    <result column="APP_SECRET" property="appSecret" jdbcType="VARCHAR"/>
    <result column="ACCESS_TOKEN" property="accessToken" jdbcType="VARCHAR"/>
    <result column="ENCODING_AES_KEY" property="encodingAesKey" jdbcType="VARCHAR"/>
    <result column="ATTENTION_URL" property="attentionUrl" jdbcType="VARCHAR"/>
    <result column="DOMAIN" property="domain" jdbcType="VARCHAR"/>
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR"/>
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="String">
   SELECT ID, NAME, TYPE, SRC_ID, QR_CODE, APP_SECRET, ACCESS_TOKEN, ENCODING_AES_KEY, 
		  ATTENTION_URL, DOMAIN, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM WECHAT_APP
    WHERE ID = #{id}
  </select>
  
  <select id="getAll" resultMap="BaseResult">
   SELECT ID, NAME, TYPE, SRC_ID, QR_CODE, APP_SECRET, ACCESS_TOKEN, ENCODING_AES_KEY, 
		  ATTENTION_URL, DOMAIN, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM WECHAT_APP
  </select>
  
  <select id="findByCondition" resultMap="BaseResult" parameterType="queryCondition">
   SELECT ID, NAME, TYPE, SRC_ID, QR_CODE, APP_SECRET, ACCESS_TOKEN, ENCODING_AES_KEY, 
		  ATTENTION_URL, DOMAIN, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM WECHAT_APP
    <include refid="COMMON.whereClause"/>
    <if test="orderByClause != null">ORDER BY ${orderByClause}</if>
  </select>
  <select id="findByConditionStat" parameterType="queryCondition" resultType="java.lang.Integer">
    SELECT COUNT(1) C FROM WECHAT_APP
    <include refid="COMMON.whereClause" />
  </select>
  
  <delete id="delete" parameterType="com.tmt.wechat.entity.App">
   DELETE FROM WECHAT_APP WHERE ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.tmt.wechat.entity.App">
   INSERT INTO WECHAT_APP (ID, NAME, TYPE, SRC_ID, QR_CODE, APP_SECRET, ACCESS_TOKEN, ENCODING_AES_KEY, 
		  ATTENTION_URL, DOMAIN, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE)
   VALUES (#{id}, #{name}, #{type}, #{srcId}, #{qrCode}, #{appSecret}, #{accessToken}, #{encodingAesKey}, 
		  #{attentionUrl}, #{domain}, #{createId}, #{createName}, #{createDate}, #{updateDate})
  </insert>
  
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO WECHAT_APP (ID, NAME, TYPE, SRC_ID, QR_CODE, APP_SECRET, ACCESS_TOKEN, ENCODING_AES_KEY, 
		  ATTENTION_URL, DOMAIN, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE)
    VALUES
   <foreach collection="list" item="item" index="index" separator="," >  
    (#{item.id}, #{item.name}, #{item.type}, #{item.srcId}, #{item.qrCode}, #{item.appSecret}, #{item.accessToken}, #{item.encodingAesKey}, 
		  #{item.attentionUrl}, #{item.domain}, #{item.createId}, #{item.createName}, #{item.createDate}, #{item.updateDate})
   </foreach> 
  </insert>
  
  <update id="update" parameterType="com.tmt.wechat.entity.App">
   UPDATE WECHAT_APP
      SET NAME = #{name},
		  TYPE = #{type},
		  SRC_ID = #{srcId},
		  QR_CODE = #{qrCode},
		  APP_SECRET = #{appSecret},
		  ACCESS_TOKEN = #{accessToken},
		  ENCODING_AES_KEY = #{encodingAesKey},
		  ATTENTION_URL = #{attentionUrl},
		  DOMAIN = #{domain},
		  UPDATE_DATE = #{updateDate}
    WHERE ID = #{id}
  </update>
  
  <select id="getDomain" resultMap="BaseResult" parameterType="String">
   SELECT ID, NAME, TYPE, SRC_ID, QR_CODE, APP_SECRET, ACCESS_TOKEN, ENCODING_AES_KEY, 
		  ATTENTION_URL, DOMAIN, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM WECHAT_APP
    WHERE DOMAIN = #{domain}
  </select>
 
  <select id="getEvent" resultMap="BaseResult" parameterType="String">
   SELECT ID, NAME, TYPE, SRC_ID, QR_CODE, APP_SECRET, ACCESS_TOKEN, ENCODING_AES_KEY, 
		  ATTENTION_URL, DOMAIN, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM WECHAT_APP
    WHERE SRC_ID = #{srcId}
  </select> 
  
  <select id="getDefault" resultMap="BaseResult" parameterType="String">
   SELECT ID, NAME, TYPE, SRC_ID, QR_CODE, APP_SECRET, ACCESS_TOKEN, ENCODING_AES_KEY, 
		  ATTENTION_URL, DOMAIN, CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM WECHAT_APP LIMIT 1
  </select>
  
</mapper>
