<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.wechat.dao.MetaRichRelaDao" >
  <resultMap id="BaseResult" type="com.tmt.wechat.entity.MetaRichRela"> 
    <result column="RICH_ID" property="richId" jdbcType="BIGINT"/>
    <result column="RELA_ID" property="relaId" jdbcType="BIGINT"/>
    <result column="RELA_NAME" property="relaName" jdbcType="VARCHAR"/>
    <result column="RELA_IMAGE" property="relaImage" jdbcType="VARCHAR"/>
    <result column="SORT" property="sort" jdbcType="TINYINT"/>
  </resultMap>
  
  <select id="getRelasByRichId" resultMap="BaseResult" parameterType="Long">
   SELECT RICH_ID, RELA_ID, SORT, B.TITLE RELA_NAME, B.IMAGE RELA_IMAGE
     FROM WECHAT_META_RICH_RELA A, WECHAT_META_RICH B
    WHERE RICH_ID = #{id} AND A.RELA_ID = B.ID
  </select>
  
  <delete id="delete" parameterType="com.tmt.wechat.entity.MetaRichRela">
   DELETE FROM WECHAT_META_RICH_RELA WHERE RICH_ID = #{richId} AND RELA_ID = #{relaId}
  </delete>
  
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO WECHAT_META_RICH_RELA (RICH_ID, RELA_ID, SORT)
    VALUES
   <foreach collection="list" item="item" index="index" separator="," >  
    (#{item.richId}, #{item.relaId}, #{item.sort})
   </foreach> 
  </insert>
  
</mapper>