<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.wechat.dao.MenuDao" >
  <resultMap id="BaseResult" type="com.tmt.wechat.entity.Menu"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="APP_ID" property="appId" jdbcType="VARCHAR"/>
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
    <result column="SORT" property="sort" jdbcType="TINYINT"/>
    <result column="TYPE" property="type" jdbcType="TINYINT"/>
    <result column="CONFIG" property="config" jdbcType="VARCHAR"/>
    <result column="STATUS" property="status" jdbcType="TINYINT"/>
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT"/>
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="Long">
   SELECT ID, APP_ID, PARENT_ID, NAME, SORT, TYPE, CONFIG, STATUS, 
		  CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM WECHAT_MENU
    WHERE ID = #{id}
  </select>
  
  <select id="queryMenusByAppId" resultMap="BaseResult" parameterType="String">
   SELECT ID, APP_ID, PARENT_ID, NAME, SORT, TYPE, CONFIG, STATUS, 
		  CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM WECHAT_MENU
    WHERE APP_ID = #{id} ORDER BY SORT
  </select>
  
  <delete id="delete" parameterType="com.tmt.wechat.entity.Menu">
   DELETE FROM WECHAT_MENU WHERE ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.tmt.wechat.entity.Menu">
   INSERT INTO WECHAT_MENU (ID, APP_ID, PARENT_ID, NAME, SORT, TYPE, CONFIG, STATUS, 
		  CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE)
   VALUES (#{id}, #{appId}, #{parentId}, #{name}, #{sort}, #{type}, #{config}, #{status}, 
		  #{createId}, #{createName}, #{createDate}, #{updateDate})
  </insert>
  
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO WECHAT_MENU (ID, APP_ID, PARENT_ID, NAME, SORT, TYPE, CONFIG, STATUS, 
		  CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE)
    VALUES
   <foreach collection="list" item="item" index="index" separator="," >  
    (#{item.id}, #{item.appId}, #{item.parentId}, #{item.name}, #{item.sort}, #{item.type}, #{item.config}, #{item.status}, 
		  #{item.createId}, #{item.createName}, #{item.createDate}, #{item.updateDate})
   </foreach> 
  </insert>
  
  <update id="update" parameterType="com.tmt.wechat.entity.Menu">
   UPDATE WECHAT_MENU
      SET APP_ID = #{appId},
		  PARENT_ID = #{parentId},
		  NAME = #{name},
		  SORT = #{sort},
		  TYPE = #{type},
		  CONFIG = #{config},
		  STATUS = #{status},
		  UPDATE_DATE = #{updateDate}
    WHERE ID = #{id}
  </update>
  
  <update id="updateSort" parameterType="com.tmt.wechat.entity.Menu">
   UPDATE WECHAT_MENU
      SET SORT = #{sort}
    WHERE ID = #{id}
  </update>
  
</mapper>
