<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.system.dao.UserUnionDao" >
  <resultMap id="BaseResult" type="com.tmt.system.entity.UserUnion"> 
    <result column="ID" property="id" jdbcType="VARCHAR"/>
    <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="String">
   SELECT ID, USER_ID
     FROM SYS_USER_UNION
    WHERE ID = #{id}
  </select>
  
  <delete id="delete" parameterType="com.tmt.system.entity.UserUnion">
   DELETE FROM SYS_USER_UNION WHERE ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.tmt.system.entity.UserUnion">
   INSERT INTO SYS_USER_UNION (ID, USER_ID)
   VALUES (#{id}, #{userId})
  </insert>
</mapper>