<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.cms.dao.NavigationDao" >
  <resultMap id="BaseResult" type="com.tmt.cms.entity.Navigation"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
    <result column="ORDERS" property="orders" jdbcType="INTEGER"/>
    <result column="URL" property="url" jdbcType="VARCHAR"/>
    <result column="POSITION" property="position" jdbcType="TINYINT"/>
    <result column="IS_TARGET" property="isTarget" jdbcType="TINYINT"/>
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT"/>
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="Long" >
   SELECT ID, NAME, ORDERS, URL, POSITION, IS_TARGET, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE
     FROM CMS_NAVIGATION
    WHERE ID = #{id}
  </select>
  
  <select id="getAll" resultMap="BaseResult">
   SELECT ID, NAME, ORDERS, URL, POSITION, IS_TARGET, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE
     FROM CMS_NAVIGATION
  </select>
  
  <select id="findByCondition" resultMap="BaseResult" parameterType="queryCondition" >
   SELECT ID, NAME, ORDERS, URL, POSITION, IS_TARGET, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE
     FROM CMS_NAVIGATION
    <include refid="COMMON.whereClause"/>
    <if test="orderByClause != null">ORDER BY ${orderByClause}</if>
  </select>
  <select id="findByConditionStat" parameterType="queryCondition" resultType="int" >
    SELECT COUNT(1) C FROM CMS_NAVIGATION
    <include refid="COMMON.whereClause" />
  </select>
  
  <delete id="delete" parameterType="com.tmt.cms.entity.Navigation" >
   DELETE FROM CMS_NAVIGATION WHERE ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.tmt.cms.entity.Navigation" >
   INSERT INTO CMS_NAVIGATION (ID, NAME, ORDERS, URL, POSITION, IS_TARGET, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE)
   VALUES (#{id}, #{name}, #{orders}, #{url}, #{position}, #{isTarget}, #{createId}, #{createName}, 
		  #{createDate}, #{updateDate})
  </insert>
  
  <update id="update" parameterType="com.tmt.cms.entity.Navigation" >
   UPDATE CMS_NAVIGATION
      SET NAME = #{name},
		  ORDERS = #{orders},
		  URL = #{url},
		  POSITION = #{position},
		  IS_TARGET = #{isTarget},
		  UPDATE_DATE = #{updateDate}
    WHERE ID = #{id}
  </update>
  
  
</mapper>
