body {background-color: #f9f9f9; overflow-y: scroll;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  position: relative;
}
.custom-container {
  padding: 0;
}
.custom-nav-container {
  margin-bottom: 60px;
}
.clearfix:AFTER {
  content: "";
  display: block;
  clear: both;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .custom-container {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
  }
}
/*====================================================
  图片广告
========================================================*/
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	-webkit-transition-property: -webkit-transform, left, top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0px, 0, 0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform, left, top;
	-moz-transition-duration: 0s;
	-moz-transform: translate3d(0px, 0, 0);
	-moz-transition-timing-function: ease;
	-o-transition-property: -o-transform, left, top;
	-o-transition-duration: 0s;
	-o-transform: translate3d(0px, 0, 0);
	-o-transition-timing-function: ease;
	-o-transform: translate(0px, 0px);
	-ms-transition-property: -ms-transform, left, top;
	-ms-transition-duration: 0s;
	-ms-transform: translate3d(0px, 0, 0);
	-ms-transition-timing-function: ease;
	-webkit-transition-property: -webkit-transform, left, top;
	-moz-transition-property: -moz-transform, left, top;
	transition-property: transform, left, top;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-transform: translate3d(0px, 0, 0);
	-moz-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	transition-timing-function: ease;
}
.swiper-pagination {
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index: 1;
}
.swiper-pagination {
  text-align: center;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.swiper-pagination-bullet {
  background: #ddd;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 2px;
}
.swiper-pagination-bullet-active {
  background-color: #EA6152;
}
.custom-swiper {
  width: 100%;
  position: relative;
}
.custom-swiper .swiper-slide a {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}
.custom-swiper .swiper-slide a img {
  width: 100%;
  height: auto;
}
.custom-swiper .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  z-index: 10;
  background-color: rgba(51,51,51,0.8);
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  z-index: 2;
}
.custom-image {
  padding: 0;
  margin: 0;
}
.custom-image li {
  margin: 0 auto;
  position: relative;
  min-height: 40px;
}
.custom-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.custom-image .custom-image-small {
  width: 50%;
  height: 152.5px;
  float: left;
  overflow: hidden;
}
.custom-image .custom-image-small img {
  height: 100%;
}
.custom-image .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  z-index: 10;
  background-color: rgba(51,51,51,0.8);
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}
/*====================================================
  富文本
========================================================*/
.custom-richtext {
  padding: 10px;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
  position: relative;
}
.custom-richtext-fullscreen {
  padding: 0;
  margin-top: 0;
}
.custom-richtext strong, .custom-richtext b {
  font-weight: bold;
}
.custom-richtext em, .custom-richtext i {
  font-style: italic;
}
.custom-richtext table {
  margin-bottom: 10px;
  border-collapse: collapse;
  display: table;
  width: auto !important;
}
.custom-richtext td, .custom-richtext th {
  padding: 5px 10px;
  border: 1px solid #ddd;
}
/*====================================================
  商品
========================================================*/
.custom-goods {
  list-style: none;
  margin: 0;
  font-size: 14px;
  position: relative;
}
.custom-goods .link {
  position: relative;
  display: block;
}
.custom-goods .link .goods-buy {
  right: 10px;
  bottom: 12px;
  height: 25px;
  display: block;
  text-align: right;
  line-height: 25px;
  color: #fff;
  width: 100px;
  text-align: center;
  margin-top: 8px;
  position: absolute;
}
.custom-goods .link .goods-buy.btn-1 {
  background-color: #EA6152;
  padding: 0 5px;
  border-radius: 3px;
}
.custom-goods .link .goods-buy.btn-2 {
  background-color: #0099CC;
  padding: 0 5px;
  border-radius: 3px;
}
.custom-goods .link .goods-buy.btn-3 {
  background-color: #0066CC;
  padding: 0 5px;
  border-radius: 3px;
}
.custom-goods .link .goods-buy.btn-4 {
  background-color: #CC3333;
  padding: 0 5px;
  border-radius: 3px;
}
.custom-goods .goods-image > img{
  max-height: 100%;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
}
.custom-goods .goods-info{
  padding: 10px;
  position: relative;
}
.custom-goods .goods-info > .goods-title{
  font-size: 16px;
  color: #333;
  margin: 0 0 10px;
}
.custom-goods .goods-info > .goods-sub-title{
  font-size: 14px;
  color: #999;
  margin: 0 0 10px;
}
.custom-goods .goods-info > .goods-price{
  padding: 0;
  color: #EA6152;
  font-size: 20px;
  line-height: 1.6;
}
.custom-goods .goods-info > .goods-price > .nums {
  font-size: 24px;
}
.custom-goods .goods-info.no-title > .goods-title {
  display: none;
}
.custom-goods .goods-info.no-sub-title > .goods-sub-title {
  display: none;
}
.custom-goods .goods-info.no-price > .goods-price {
  display: none;
}
.custom-goods .big-pic {
  float: left;
  width: 100%;
}
.custom-goods .small-pic {
  float: left;
  width: 50%;
}
.custom-goods .small-pic > .link{
  margin: 0;
}
.custom-goods .small-pic .goods-image {
  height: 180px;
  line-height: 180px;
  padding: 15px;
}
.custom-goods .small-pic .goods-image > img{
  max-height: 100%;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
}
.custom-goods-1 .small-pic {
  margin-bottom: -1px;
}
.custom-goods-1.custom-goods > .small-pic:nth-child(2n+1) {
  margin-right: -1px;
}
.custom-goods-1.custom-goods > .small-pic:nth-child(2n+1) > .link{
  margin-right: 0;
}
.custom-goods-1.custom-goods > .small-pic:nth-child(2n) > .link{
  margin-left: 0;
}
.custom-goods-2.custom-goods > .small-pic:nth-child(3n+2) {
  margin-right: -1px;
}
.custom-goods-2.custom-goods > .small-pic:nth-child(3n+2) > .link{
  margin: 0 2.5px 5px 0;
}
.custom-goods-2.custom-goods > .small-pic:nth-child(3n) > .link{
  margin: 0 0 5px 2.5px;
}
.custom-goods .small-pic .goods-info > .goods-title {
  font-size: 16px;
}
/*小图*/
.custom-goods .small-pic .goods-info > .goods-title {
  height: 50px;
  max-height: 50px;
  overflow: hidden;
  line-height: 25px;
}
.custom-goods .small-pic .goods-buy {
  width: 60px;
}
/*卡片模式 - 促销模式 - 瀑布模式*/
.custom-goods-card, .custom-goods-promotion {
  position: relative;
  margin: 10px 5px;
}
.custom-goods-card .link, .custom-goods-promotion .link, .custom-goods-waterfall .link{
  background: #fff;
  min-height: 100px;
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
}
.custom-goods-promotion .goods-info > .goods-title, .custom-goods-promot .goods-info > .goods-sub-title {
  display: none;
}
/*极简模式*/
.custom-goods-simple .link {
  margin: 0 !important;
  background-color: #fff;
}
.custom-goods-simple .goods-info.no-sub-title {
  position: absolute;
  height: 32px;
  bottom: 0;
  margin: 5px 0;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(0,0,0,0.4);
  background-clip: border-box;
  border-radius: 2px;
  line-height: 22px;
  left: 10px;
  right: 10px;
  display: flex;
}
.custom-goods-simple .goods-info.no-sub-title.no-title {
  left: auto;
}
.custom-goods-simple .goods-info.no-sub-title.no-title.no-price {
  display: none;
}
.custom-goods-simple .goods-info.no-sub-title > .goods-title,
.custom-goods-simple .goods-info.no-sub-title > .goods-price {
  margin-bottom: 0;
  line-height: 22px;
  color: #fff;
}
.custom-goods-simple .goods-info.no-sub-title > .goods-title {
  height: auto;
  flex: 1;
}
.custom-goods-simple .goods-info.no-sub-title > .goods-price {
  padding-left: 10px;
}
.custom-goods-simple .small-pic .goods-info > .goods-title,
.custom-goods-simple .small-pic .goods-info > .goods-sub-title{
  display: none;
}
/*小图*/
.custom-goods-1 {
  margin: 10px 0;
}
.custom-goods-1.custom-goods-simple .goods-info,
.custom-goods-2.custom-goods-simple .goods-info {
  position: absolute;
  height: 32px;
  bottom: 0;
  margin: 5px 0;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(0,0,0,0.4);
  background-clip: border-box;
  border-radius: 2px;
  line-height: 22px;
  left: 10px;
  right: 10px;
  color: #fff;
}
.custom-goods-1.custom-goods-simple .goods-info,
.custom-goods-2.custom-goods-simple > .small-pic .goods-info{
  left: auto;
}
.custom-goods-2.custom-goods-simple .goods-info > .goods-title {
  color: #fff;
  margin-bottom: 0;
  float: left;
}
.custom-goods-1.custom-goods-simple .goods-info > .goods-price,
.custom-goods-2.custom-goods-simple .goods-info > .goods-price {
  color: #fff;
  float: right;
}
.custom-goods-1.custom-goods-simple .goods-info.no-price,
.custom-goods-2.custom-goods-simple > .small-pic .goods-info.no-price {
  display: none;
}
.custom-goods-1.custom-goods-simple > .small-pic,
.custom-goods-2.custom-goods-simple > .small-pic {
  margin: 0 !important;
}
.custom-goods-1.custom-goods-simple > .small-pic > .link {
  margin: 0 !important;
}
/*详细列表*/
.custom-goods-3 .link {
  padding: 5px;
}
.custom-goods-3 .link > .goods-image {
  float: left;
  width: 35%;
  height: 120px;
  line-height: 120px;
  overflow: hidden;
}
.custom-goods-3 .link > .goods-info {
  float: left;
  width: 65%;
  padding-left: 10px;
}
.custom-goods-3 .link .goods-title {
  font-size: 20px;
}
.custom-goods-3.custom-goods-simple .link {
  border: 1px dotted #f4f4f4;
}
.custom-goods-3 .link .goods-buy {
  width: 60px;
}
/*====================================================
  标题
========================================================*/
.custom-title {
  padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  word-break: break-all;
  border-bottom: 1px solid #ddd;
}
.custom-title-noline .custom-title {
  border-bottom: 0px solid #ddd;
}
.custom-title .title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}
.custom-title .sub_title {
  color: #8c8c8c;
  font-size: 14px;
  margin: 5px 0 0;
}
.custom-title .sub_title_date, .custom-title .sub_title_author {
  margin-right: 10px;
}
.custom-title .sub_title_link {
  color: #6191bf;
}
.custom-title .custom-title-link {
  margin-left: 10px;
}
.custom-title .custom-title-link a {
  font-size: 14px;
  color: #07d;
}
/*====================================================
  文本导航
========================================================*/
.custom-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.custom-nav > li {
  margin: 0 10px;
  border-bottom: 1px solid #ddd;
}
.custom-nav a {
  display: block;
  color: #333;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.custom-nav .custom-nav-title {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
} 
.custom-menu-nav {
  margin: 3px;
}
.custom-menu-nav li{
  width: 50%;
  float: left;
  margin: 0;
  border-bottom: 0px solid #ddd;
  margin-bottom: 4px;
}
.custom-menu-nav li > a {
  text-align: center;
  margin: 0 2px;
  background-color: #f2f2f2;
  font-size: 16px;
}
/*====================================================
  图片导航
========================================================*/
.custom-nav-image {
  padding: 5px;
  text-align: center;
}
.custom-nav-image li {
  width: 25%;
  float: left;
  overflow: hidden;
  text-align: center;
}
.custom-nav-image li .image {
  display: block;
  overflow: hidden;
}
.custom-nav-image li img {
  vertical-align: middle;
  max-width: 100%;
}
.custom-nav-image li span.title {
  color: #333;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
} 
/*====================================================
  商品搜索
========================================================*/
.custom-search {
  padding: 5px;
}
.custom-search .custom-search-form {
  margin: 0;
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: 0 none;
  overflow: hidden;
}
.custom-search .custom-search-form .custom-search-input {
  margin: 0;
  padding: 8px 8px 8px 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 20px;
  height: 35px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  cursor: default;
  background-color: transparent;
}
.custom-search .custom-search-button {
  position: absolute;
  top: 1px;
  left: 1px;
  border: 0px none;
  border-radius: 4px;
  height: 33px;
  line-height: 35px;
  width: 22px;
  padding: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 4px 0 0 4px;
}
/*====================================================
  橱窗
========================================================*/
.custom-showcase .custom-showcase-title {
  padding: 10px;
  font-size: 14px;
}
.custom-showcase .custom-showcase-body {
  background-color: #fff;
}
.custom-showcase .custom-showcase-body-title {
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  margin: 10px 0;
}
.custom-showcase .custom-showcase-body-desc {
  padding: 0 10px;
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all;
  color: #999;
}
.custom-showcase .custom-showcase-nav {
  width: 100%;
  margin: 0 auto;
  list-style: none;
}
.custom-showcase .custom-showcase-nav li {
  float: left;
  text-align: center;
  overflow: hidden;
  width: 33.33333%;
}
.custom-showcase .custom-showcase-nav .image {
  display: block;
  padding: 1px 0px 1px 0;
}
.custom-showcase .custom-showcase-nav > li:LAST-CHILD > .image {
  margin-top: -2px;
}
.custom-showcase .custom-showcase-nav li.big-pic > .image {
  padding-right: 1px;
}
.custom-showcase .custom-showcase-nav img {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.custom-showcase .custom-showcase-nav li.big-pic {
  width: 66.66667%;
}
.custom-showcase-1 .custom-showcase-nav li.big-pic {
  width: 33.33333% !important;
}
.custom-showcase-1 .custom-showcase-nav .image {
  padding-right: 1px;
}
.custom-showcase-1 .custom-showcase-nav > li:LAST-CHILD > .image {
  margin: 0;
  padding-right: 0;
}
.custom-showcase-without-space .image {
  padding: 0 !important;
  margin: 0 !important;
}
/*====================================================
  辅助线
========================================================*/
.custom-line-wrap {
  height: 30px;
  position: relative;
}
.custom-line-wrap.hasPadding {
  margin: 0 5px;
}
.custom-line {
  border: 0 none;
  border-top: 1px dashed #bbb;
  margin: auto;
  padding: 0;
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/*====================================================
  魔方
========================================================*/
.custom-cube table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.custom-cube td {
  width: 25%;
  height: 80px;
  cursor: pointer;
  text-align: center;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-cube td.empty {
  height: 0;
}
.custom-cube td.rows-2 {
  height: 160px
}
.custom-cube td.rows-3 {
  height: 240px
}
.custom-cube td.rows-4 {
  height: 320px
}
.custom-cube td.cols-2 {
  width: 50%;
}
.custom-cube td.cols-3 {
  width: 75%;
}
.custom-cube td.cols-4 {
  width: 100%;
}
.custom-cube td .has-img {
  height: 100%;
  width: 100%;
}
/*====================================================
  商品分组
========================================================*/
.tabber {
  width: 100%;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  overflow: visible;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.tabber button, .tabber a {
  float: left;
  width: 50%;
  line-height: 40px;
  border: 0px none;
  outline: 0px none;
  background-color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tabber button.active, .tabber a.active {
  position: relative;
  top: 1px;
  line-height: 39px;
  color: #22C415;
  border-bottom: 1px solid #22C415;
}
.tabber.tabber-n3 a, .tabber.tabber-n3 button {
  width: 33.33333%
}
.tabber.tabber-n4 a, .tabber.tabber-n4 button {
  width: 25%
}
.tabber.tabber-n5 a, .tabber.tabber-n5 button {
  width: 20%
}
.custom-group-side {
  background: #f9f9f9;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.custom-group-side  ul, .custom-group-side li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.custom-group-side .custom-group-side-menu {
  position: absolute;
  width: 90px;
  margin-right: 1px;
  background: #e6e6e6;
  top: 0px;
  left: 0;
}
.custom-group-side .custom-group-side-menu ul {
  background: #e6e6e6;
  padding-top: 25px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  min-height: 325px;
}
.custom-group-side .custom-group-side-menu ul > li > a {
  display: block;
  padding: 5px 0;
  color: #333;
  text-align: center;
}
.custom-group-side .custom-group-side-menu ul > li > a.active {
  background-color: #f3f3f3;
  color: #333;
}
.custom-group-side .custom-group-main {
  margin-left: 100px;
}
.load-more {
  display: block;
  margin: 20px 15px;
  text-align: center;
}
.load-more img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
/*====================================================
  全页动画 -- 高度需要自动计算
========================================================*/
.custom-full_scene {
  width: 100%;
  min-height: 500px;
  background-color: #ddd;
  position: relative;
}
.custom-full_scene .empty {
  font-size: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  padding: 10px;
  margin-left: -70px;
  margin-top: -20px;
  color: #fff;
  line-height: 28px;
  width: 140px;
}
.custom-full_scene .swiper-container {
  width: 100%;
  height: 500px;
}
.custom-full_scene img {
  width: 100%;
  height: 100%;
}
.full_scene-header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px; 
}
.full_scene-header > a {
  padding: 10px;
  display: block;
  color: #666;
}
.full_scene-header > a.pull-left {
  float: left;
}
.full_scene-header > a.pull-right {
  float: right;
}
.full_scene-header > a .iconfont {
  font-size: 24px;
}
.full_scene-music {
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px; 
  bottom: 20px;
}
.full_scene-music > a {
  padding: 10px;
  display: block;
  color: #0099CC;
}
.full_scene-music > a.pull-right {
  float: right;
}
.full_scene-music > a .iconfont {
  font-size: 26px;
}
/*====================================================
  新人礼包
========================================================*/
.custom-xr_gift {
  display: block;
}
.custom-xr_gift > .weui_mask {
  display: none;
}
.custom-xr_gift > .-image {
  width: 100%;
  display: inline-block;
}
.custom-xr_gift > .-image img {
  width: 100%;
}
.custom-xr_gift.type-1 {
  display: none;
}
.custom-xr_gift.type-1 > .weui_mask {
  display: block;
  z-index: 1002;
}
.custom-xr_gift.type-1 > .-image  {
  z-index: 1003;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  max-width: 320px;
}
.custom-xr_gift.type-1 > .-image .image-wrap {
  position: relative;
}
.custom-xr_gift.type-1 > .-image .image-wrap > .-anchor {
  position: absolute;
  width: 64%;
  height: 80%;
  left: 18%;
  top: 20%;
  z-index: 2;
}