<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.bbs.dao.TopicHotDao" >
  <resultMap id="BaseResult" type="com.tmt.bbs.entity.TopicHot"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="HITS" property="hits" jdbcType="INTEGER"/>
    <result column="REPLYS" property="replys" jdbcType="INTEGER"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="Long">
   SELECT ID, HITS, REPLYS
     FROM BBS_TOPIC_HOT
    WHERE ID = #{id}
  </select>
  
  <insert id="touch" parameterType="com.tmt.bbs.entity.TopicHot">
   INSERT INTO BBS_TOPIC_HOT (ID, HITS, REPLYS) VALUES (#{id}, 0, 0) ON DUPLICATE KEY UPDATE HITS = HITS + 0
  </insert>
  
  <insert id="insertHit" parameterType="com.tmt.bbs.entity.TopicHot">
   INSERT INTO BBS_TOPIC_HOT (ID, HITS, REPLYS) VALUES (#{id}, #{hits}, 0) ON DUPLICATE KEY UPDATE HITS = HITS + 1
  </insert>
  
  <insert id="insertReply" parameterType="com.tmt.bbs.entity.TopicHot">
   INSERT INTO BBS_TOPIC_HOT (ID, HITS, REPLYS) VALUES (#{id}, 0, #{replys}) ON DUPLICATE KEY UPDATE REPLYS = REPLYS + 1
  </insert>
  
  <select id="findByCondition" resultMap="BaseResult" parameterType="queryCondition">
   SELECT ID, HITS, REPLYS
     FROM BBS_TOPIC_HOT
    <include refid="COMMON.whereClause"/>
    <if test="orderByClause != null">ORDER BY ${orderByClause}</if>
  </select>
  <select id="findByConditionStat" parameterType="queryCondition" resultType="java.lang.Integer">
    SELECT COUNT(1) C FROM BBS_TOPIC_HOT
    <include refid="COMMON.whereClause" />
  </select>
  
</mapper>