.topic-list-wrap {
  top: 0;
  bottom: auto;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  position: fixed;
}
.topic-list-wrap .weui_tabbar_item {
  padding: 0;
  text-align: center;
  position: relative;
}
.topic-list-wrap .weui_tabbar_item > .weui_tabbar_label {
  font-size: 16px;
  display: block;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
  height: 40px;
  line-height: 40px;
  width: 50px;
  margin: 0 auto;
}
.topic-list-wrap .weui_tabbar_item.cur > .weui_tabbar_label {
  border-color: #EA6152;
  font-weight: bold;
  color: #EA6152;
}
.topic-list-wrap.weui_tabbar:before {
  display: none;
}
.topic-list-wrap .weui_tabbar_item:AFTER {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  border-left: 1px solid #ddd;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
.topic-list-wrap .weui_tabbar_item:LAST-CHILD:AFTER {
  display: none;
}
.topic-container {
  margin-top: 10px;
}
.topic {
  position: relative;
  min-height: 150px;
  padding: 15px;
  margin: 10px;
  padding-bottom: 1px;
}
.topic .topic-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 8px;
  background-color: #fff;
}
.topic .topic-bg > img {
  width: 100%;
  height: 100%;
}
.topic .topic-hd, .topic .topic-bd, .topic .topic-ft, .topic .topic-replay-wrap{
  position: relative;
}
.topic .user-headimg {
  width: 50px;
  height: 50px;
}
.topic .user-headimg > img {
  width: 100%;
  height: 100%;
}
.topic .topic-hd {
  display: flex;
  margin-bottom: 5px;
}
.topic .topic-hd .user-name{
  flex: 1;
  padding: 10px;
  font-size: 14px;
  color: #333;
}
.topic .topic-bd .-content {
  font-size: 16px;
  color: #333;
  height: 25px;
  overflow: hidden;
  text-overflow:ellipsis;
}
.topic .topic-bd .-add_content {
  font-size: 14px;
  color: #333;
  height: 25px;
  overflow: hidden;
  text-overflow:ellipsis
}
.topic .topic-bd .-add_content > .rappraise_tag {
  background-color: #0099CC;
  color: #fff;
  padding: 3px 5px;
  font-size: 14px;
  font-style: normal;
  margin-right: 5px;
}
.topic .topic-bd .-images:AFTER {
  content: "";
  display: block;
  clear: both;
}
.topic .topic-bd .-images .-image {
  border: 1px solid #fff;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 79px;
  height: 79px;
  background: no-repeat 50%;
  background-size: cover;
  display: block;
  float: left;
}
.topic .topic-bd .-time {
  font-size: 14px;
  color: #999;
}
.topic .topic-bd .-p_name {
  margin-left: 15px;
  color: #999;
}
.topic .topic-ft {
  margin-top: 10px;
  margin-bottom: 10px;
}
.topic .topic-ft:AFTER {
  content: "";
  display: block;
  clear: both;
}
.topic .topic-ft > a{
  display: block;
  float: left;
  padding-right: 15px;
  color: #999;
}
.topic .topic-ft > a > .-img {
  margin-right: 5px;
  font-size: 22px;
  vertical-align: bottom;
}
.topic .topic-ft > a.hited {
  color: #2363E0;
}
.topic .topic-ft > .topic-reply-ops {
  float: right;
  padding-right: 0;
  padding-left: 15px;
}
.topic .topic-ft > .topic-reply-ops > .-img {
  margin: 0;
}
.topic .topic-replay-wrap {
  padding-left: 48px;
}
.topic .topic-replay {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #f4f4f4;
}
.topic .topic-replay .user-headimg {
  position:absolute;
  left: -48px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
.topic .topic-replay .user-name {
  font-size: 14px;
  margin-bottom: 5px;
  color: #999;
}
.topic .topic-replay .-reply {
  color: #2165E0;
  margin: 0 10px;
}
.topic .topic-replay .-time {
  float: right;
  color: #999;
}
.topic .topic-replay .content {
  font-size: 14px;
  margin-bottom: 8px;
}
.topic .topic-replay:AFTER {
  content: "";
  display: block;
  clear: both;
}
.topic .topic-replay a {
  display: block;
  float: left;
  padding-right: 15px;
  font-size: 14px;
  color: #999;
  height: 28px;
  line-height: 28px;
}
.topic .topic-replay a.hited {
  color: #2363E0;
}
.topic .topic-replay a > .-img {
  vertical-align: bottom;
  margin-right: 5px;
  font-size: 18px;
}

.topic-mood {
  color: #fff;
}
.topic-mood .topic-bd .-content {
  color: #fff;
}
.topic-mood .topic-bd .-images > img {
  border-color: #fff;
}
.topic-mood .topic-bd .-time {
  color: #fff;
}
.topic-mood .topic-replay .-time {
  color: #fff;
}
.topic-mood .topic-replay .user-name {
  color: #fff;
}
.topic-mood .topic-ft > a {
  color: #fff;
}
.topic-mood .topic-replay a {
  color: #fff;
}
.topic-red .topic-bg {
  background-color: #EA6152;
}
.topic-yellow .topic-bg {
  background-color: #EEAA3D;
}
.topic-blue .topic-bg {
  background-color: #4DB6B9;
}
.topic-green .topic-bg {
  background-color: #C0D695;
}
.topic-detail-top {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}
.topic-detail-top .list-hd{
  text-align: left;
  padding-left: 40px;
}
.topic-detail-top .list-hd .ops-left > img {
  width: 18px;
}
.topic-detail-top .list-hd .save_topic > img {
  width: 24px;
}
.topic-detail {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 60px;
}
.topic-detail .topic-bg {
  border-radius:0; 
}
.topic-detail .topic-bd .-content {
  overflow: auto;
  height: auto;
}
.topic-detail .topic-bd .-add_content {
  overflow: auto;
  height: auto;
}
.topic-detail-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #fff;
  z-index: 100;
}
.topic-detail-bottom .list-hd {
  display: flex;
}
.topic-detail-bottom .list-hd .img {
  width: 30px;
  height: 30px;
}
.topic-detail-bottom .list-hd .content {
  flex: 1;
  background-color: #fff;
  border: 0;
  padding-left:10px; 
  height: 30px;
  font-size: 16px;
}
.topic-detail-bottom .list-hd .content:FOCUS {
  outline: none;
}
.topic-detail-bottom .list-hd .btn {
  padding: 3px 10px;
  display: block;
  background-color: #2165E0;
  line-height: 24px;
  height: 24px;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
}
.section-page {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.section-page .weui_tabbar {
  position: relative;
}
.section-page .sections {
  background-color: #fff;
  padding: 5px;
  position: relative;
  max-height: 40px;
  overflow: hidden;
  min-height: 40px;
}
.section-page .sections.more {
  overflow:auto;
  max-height: none;
}
.section-page .sections:AFTER {
  content: "";
  display: block;
  clear: both;
}
.section-page .sections .section {
  padding: 4px 7px;
  display: block;
  float: left;
  margin: 5px;
  font-size: 14px;
  border-radius: 15px;
  background-color: #F9D7D2;
  color: #666;
}
.section-page .sections .section.cur {
  background-color: #EA6152;
  color: #fff;
}
.section-page .sections .section.none {
  background-color: #EDEDED;
  color: #666;
}
.section-page .sections .-sel {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 10px;
  background-color: #fff;
}
.section-container {
  margin-top: 60px;
}
.topic-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.topic-btn .btn {
  width: 40px;
  height: 40px;
  display: block;
  padding: 5px 0;
}
.topic-btn .btn > img {
  width: 100%;
  height: 100%;
}
.topic-btn .to_top {
  display: none;
}
.topic-btn .btn.show {
  display: block;
}
.topic-add {
  margin-top: 45px;
}
.topic-add .enclosure-form {
  margin: 0;
}
.topic-add .enclosure-form .add-appraise {
  background-color: #f4f4f4;
}
.topic-add .mood-wrap {
  margin-top: 10px;
}
.topic-add .mood-wrap .list-hd{
  text-align: left;
}
.topic-add .mood-wrap .mood {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  background-color: #f4f4f4;
  margin-left: 5px;
}
.topic-add .mood-wrap .mood.cur {
  width: 33px;
  height: 33px;
  border: 2px solid #2363E0;
}
.topic-add .mood-wrap .mood-white {
  width: 33px;
  height: 33px;
  border: 2px solid #ddd;
  background-color: #fff;
}
.topic-add .mood-wrap .mood-red {
  background-color: #EA6152;
} 
.topic-add .mood-wrap .mood-yellow {
  background-color: #EEAA3D;
}
.topic-add .mood-wrap .mood-blue {
  background-color: #4DB6B9;
}
.topic-add .mood-wrap .mood-green {
  background-color: #C0D695;
}
.section-page .topic-detail-top {
  position: relative;
}
.reply_mode .topic-detail-bottom {
  display: block !important;
  z-index: 1001;
}
.reply_mode .topic-btn {
  bottom: 50px;
  z-index: 1002;
}
.reply_mode .reply_mode_mask {
  display: block !important;
  background-color: #fff !important;
  opacity: 0;
}