.new-gift{
	position:fixed;
	top:0px;
	width:100%;
	z-index:9999;
	background: rgba(0,0,0,0.5);
}
.new-gift.white {
	background: white;
	position:relative;
}
.new-gift.not-white {
	background: #f5f5f5;
	position:relative;
}
.new-gift .center{
	text-align: center;
}
.new-gift a img{
	max-width:100%;
}
.new-gift .center.close{
	padding:50px 50px 0 50px;
	text-align: right;
}
.new-gift .center.gift{
	padding:0px 50px 50px 50px;
	text-align: center;
}
.new-gift .center.close img{
	height: 80px;
}
.new-gift .center.item{
	position:relative;
}
.new-gift .center.item .left{
	position:absolute;
	top: 0px;
	left:8%;
	color:#EA6152;
}
.new-gift .center.item .left h4{
	font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    padding-top: 10px;
}
.new-gift .center.item .left h4>small{
	font-size: 12px;
    color: #EA6253;
    margin-left: 5px;
}
.new-gift .center.item .left > small {
    font-size: 10px;
    display: inline-block;
    border: 1px solid #EA6253;
    padding: 0 5px;
    border-radius: 4px;
    line-height: 16px;
}
.new-gift .center.item .left .lable{
	font-size:14px;
	color:#EA6152;
	display:block;
	border:solid 1px;
	min-width:60px;
	margin-top:-10px;
	border-radius:25px;
}
.new-gift .center.item .right{
	position:absolute;
	top: 20%;
	left:40%;
	text-align: left;
}
.new-gift .center.item .right .head{
	font-size:20px;
	font-weight:bold;
}
.new-gift .center.item .right .bot{
	font-size:12px;
	display:block;
}
.new-gift .center.item img.block{
	display: block;
	width:100%;
}
.recommend{
	width:100%;
}
.recommend .center{
	text-align: center;
}
.recommend a img{
	max-width:100%;
}
.query-bar {
    padding: 10px 15px;
    margin: 0;
    position: relative;
    padding-right: 100px;
}
.query-bar .query-text {
    border: 1px solid #ddd;
    height: 32px;
    padding: 2px 5px;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.weui_input {
    width: 100%;
}
.query-bar .query-btn {
    height: 28px;
    padding: 2px 25px;
    display: inline-block;
    line-height: 28px;
    background-color: #EA6152;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -16px;
    font-size: 14px;
    border-radius: 3px;
}
/***
   新样式 -- 新人礼包页面
**/
body {
  background-color: #fff;
}
.coupon-body { background-color: #F5F5F5;}
.coupon-body > .new-gift {z-index: 1; margin-bottom: 50px;}
.new-gift.white {
  z-index: 1000;
}
.new-gift-320 {
  height: 100%;
}
.new-gift-320 .query-bar {
  margin-bottom: 15px;
}
.new-gift-320 .center{
  max-width: 320px;
  margin: 0 auto;
}
.new-gift-320 h2 {
  margin: 15px 0;
  font-size: 20px;
}
.new-gift-320 .item {
  margin-bottom: 10px;
}
.xr-gift .image-wrap-320 {
  max-width: 320px;
  margin: 0 auto;
}
.xr-gift .btn {
  width: 180px;
  margin-top: 40px;
}
.xr-gift .useBtn {
  margin-top: 30px;
}
.coupon{
  position: relative;
  margin-bottom: 10px;
  min-height: 120px;
}
.coupon > .ops {
  position: absolute;
  z-index: 3;
  right: 10px;
  top: 10px;
}
.coupon > .image{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.coupon > .image > img {
  max-width: 100%;
}
.coupon > .val, .coupon > .desc {
  position: relative;
  z-index: 2;
}
.coupon > .desc > small {
  display: block;
}
.coupon > .val {
  float: left;
  width: 110px;
  text-align: center;
  font-size: 14px;
  color: #EA6253;
}
.coupon > .val > h4 {
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
  padding-top: 28px;
} 
.coupon > .val > h4 > small {
  font-size: 12px;
  color: #EA6253;
  margin-left: 5px;
}
.coupon > .val > small {
  font-size: 11px;
  display: inline-block;
  border: 1px solid #EA6253;
  padding: 0 5px;
  border-radius: 10px;
  line-height: 16px;
}
.coupon > .desc {
  margin-left: 110px;
  padding: 35px 0 0 5px;
  text-align: left;
}
.coupon > .desc > h4 {
  font-size: 16px;
  font-weight: normal;
  color: #333;
  margin-bottom: 5px;
}
.coupon > .desc > small {
  color: #999;
  font-size: 12px;
}
.coupon-1 > .val {
  color: #999;
}
.coupon-1 > .val > h4 > small {
  color: #999;
}
.coupon-1 > .val > small {
  border: 1px solid #999;
}
.coupon-1 > .desc > h4 {
  color: #999;
}
.new-gift-320 .coupon-bottom{
  max-width: 320px;
  margin: 50px auto;
  text-align: center;
}
.new-gift-320 .coupon-bottom a{
  color: #EA6253;
  font-size: 20px;
  font-weight: 600;
}
.fission-redenvelope .image-wrap {
  position: relative;
}
.fission-redenvelope .-price {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 45%;
  font-weight: 700;
  color: #EA6152;
}
.fission-redenvelope .num-wrap {
  margin-top: 0;
  padding-top: 20px;
}
.fission-redenvelope .-num {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 32px;
  color: #EA6152;
  line-height: 32px;
  left: 50%;
  margin-left: -28px;
  margin-top: 30px;
  display: block;
  width: 36px;
  height: 32px;
  text-align: center;
}
.fission-redenvelope .margin-top-20 {
  margin-top: 20px;
}
.fission-redenvelope .item{
  margin: 0 20px;
  display: flex;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px 0;
}
.fission-redenvelope .item img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: block;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
}
.fission-redenvelope .item h4 {
  font-size: 14px;
  margin-bottom: 3px;
}
.fission-redenvelope .item small {
  font-size: 90%;
  margin: 0 10px;
  font-weight: normal;
  color: #999;
}
.fission-redenvelope .item p {
  font-size: 13px;
  color: #999;
  line-height: 14px;
}
.fission-redenvelope .item .bd {
  height: 40px;
}
.fission-redenvelope .item .price {
  color: #EA6152;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
}