body, html {-webkit-tap-highlight-color: transparent; color: #333;}
body {background-color: #f3f3f3; font-size: 16px;}
ul{padding: 0;list-style: none;} li {display: list-item; text-align: -webkit-match-parent;}
a{cursor: pointer;}
.hide{display: none !important;}
.red {color:#EA6152; }
#ajax-load-page {background-color: inherit;}
#ajax-load-page .load-more {padding: 10px 0;text-align: center;line-height: 30px;height: 30px; font-size: 14px; color: #999;}
.weui_cells{font-size: 16px;} .weui_cell:before, .weui_cell:AFTER{display: none;} .weui_cells:after, .weui_cells:BEFORE{display: none;}
.weui_cells .item-center{-webkit-box-flex: 1;text-align:center;}
.weui_cells .item-head-center{-webkit-box-flex: 1;text-align:center;font-weight: bold;color:#888;}
.weui_cells .weui_cell.man{padding:3px 15px;}
.weui_cells .weui_cell.man:BEFORE{left:0px;}
.weui_cells_title{margin-top:.4em; margin-bottom:.4em;}
.weui_cells_title.head-center{text-align:center;font-weight: bold;color:inherit;font-size: 18px;}
.weui_cells_title .weui_cells_title_ops {float: right;}
.weui_toast_wrap .weui_mask, 
.weui_toast_wrap .weui_mask_transparent,
.weui_dialog_tip .weui_mask{
  z-index: 10000;
}
.weui_dialog_tip .weui_dialog {
  z-index: 50000;
}
.weui_dialog_tip .weui_dialog {
  width: auto;
  padding: 15px 15px;
}
.weui_dialog_tip_simple .weui_dialog {
  padding: 0;
}
.weui-uploader_file_status {
  position: relative;
}
.weui-uploader_file_status:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.weui-uploader_file_status .weui-uploader_file-content {
  display: block;
}
.weui-uploader_file-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 12px;
}
.weui-gallery {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  z-index: 1000;
}
.weui-gallery__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 60px;
  left: 0;
  background: center center no-repeat;
  background-size: contain;
  display:  block;
  overflow: hidden;
}
.weui-gallery__img .swiper-container {
  height: 100%;
}
.weui-gallery__img .swiper-slide {
  background: center center no-repeat;
  background-size: contain;
}
.weui-gallery__img .swiper-pagination-bullet {
  background: #fff;
}
.weui-gallery__opr {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0D0D0D;
  color: #FFFFFF;
  line-height: 60px;
  text-align: center;
}
.weui-gallery__del {
  display: block;
}
.weui-gallery__del .weui-icon_gallery-delete {
  color: #FFFFFF;
  font-size: 22px;
}
.btn{border-radius: 8px;}
.weui_toast_container {
  position: fixed;
  bottom: 60px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  left: 0;
  z-index: 50000;
}
.weui_toast_container .weui-toast-bd {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #666;
  z-index: 1;
  opacity: 0.8;
}
.weui_toast_container .weui-toast-message {
  padding: 5px 20px;
  z-index: 2;
  position: relative;
}
.weui_cells_title.order_sort{
  text-align: right;
  margin-bottom: 0px;
  margin-top:-.7em;
}
.weui_cells_title .weui_cells_title_ops.timetype_item{
  float: none;
}
.weui_cells_title.order_sort .order_item{
  float: none;
}
.weui_cells_title.order_sort .order_item a {
  display: inline-block;
  padding: 4px 7px;
}
.weui_cells_title .weui_cells_title_ops a {
  padding: 0 5px;
}
.weui_cells_title .weui_cells_title_ops a:LAST-CHILD {
  padding-right: 0;
}
.weui_cells_title .weui_cells_title_ops a.cur {
  color: red;
}
.weui_cells_error {
  border: 1px solid red;
}
.weui_cells_error:before {
  border-top: 0px solid red;
}
.weui_cells_error .weui_textarea_counter>span {
  color: red;
}
.weui_cells_checkbox .weui_check:checked+.weui_icon_checked:before {
  color: #EA6152;
}
.weui_select {
  height: 25px;
  line-height: 25px;
  padding-left: 0;
}
.goods-price {
  color: #EA6152;
  padding: 0 5px;
}
.image-wrap {
  overflow: hidden;
  display: block;
  text-align: center;
}
.image-wrap > img {
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}
#footer {
  background-color: #fff;
  position: fixed;
  z-index: 1001;
}
#footer i {
  display: block;
  font-size: 24px;
  line-height: 24px;
  color: #888;
}
#footer .weui_tabbar_item {
  text-align: center;
}
#footer .weui_tabbar_item .weui_tabbar_label {
  font-size: 12px;
  display: block;
}
#footer .weui_bar_item_on i, #footer .weui_bar_item_on .weui_tabbar_label {
  color: #EA6152;
}
.cart-tag, .member-tag {
  position: relative;
}
.cart-tag b, .member-tag b{
  color: #fff;
  background-color: #EA6152;
  width: 16px;
  height: 16px;
  position: absolute;
  display: block;
  border-radius: 50%;
  font-size: 12px;
  font-weight: normal;
  top: 4px;
  left: 50%;
  margin-left: 4px;
  line-height: 16px;
}
.top-ops-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.top-ops {
  background-color: #000;
  color: #fff;
  vertical-align: middle;
  padding: 5px;
  padding-left: 60px;
  padding-right: 60px;
  display: block;
  position: relative;
}
.top-ops > .btn {
  border: 1px solid #f4f4f4;
  font-size: 12px;
  padding: 2px 5px;
  position: absolute;
  left: 10px;
  display: block;
  line-height: normal;
  top: 50%;
  margin-top: -10px;
}
.top-ops > .location-name {
  font-weight: bold;
  display: inline-block;
  color: #fff;
}
.top-ops > .searcher {
  float: right;
  display: block;
  width: 50px;
  text-align: right;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
}
.top-ops input[type="text"] {
  height: 25px;
  border: 0;
  background-color: #000;
  color: #bfbfbf;
  font-size: 16px;
  padding-left: 5px;
  display: block;
  width: 100%;
}
.top-ops input[type="text"]:FOCUS {
  border: 0;
  outline: 0;
}
.container {
  padding-bottom: 52px;
  padding-top: 36px;
}
.index-container {
  padding-top: 0;
}
.list-group {
  margin-bottom: 10px;
}
.list-group .list-hd {
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #666;
  padding: 5px 15px;
  border-bottom: 1px solid #f4f4f4;
  background-color: #fff;
  display: block;
}
.list-group a.list-hd:HOVER {
  background-color: #f5f5f5;
}
.list-group .list-hd:LAST-CHILD {
  border-bottom: 0px solid #f4f4f4;
}
.list-group .list-hd > .ops {
  float: right;
}
.list-group .list-hd > .ops > .btn {
  border: 1px solid #EA6152;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 5px 15px;
  background-color: #EA6152;
  color: #fff;
}
.list-group .list-hd > .ops-left {
  float: left;
}
.list-group .list-hd > .ops > .btn-default {
  padding: 5px 0px 5px 20px;
  line-height: 20px;
  text-align: right;
}
.list-group .list-hd > .ops-left > i {
  font-size: 18px;
  padding: 5px 5px 5px 0;
}
.list-group .list-hd a {
  color: #999;
}
.list-group .list-ft {
  height: 35px;
  line-height: 35px;
  text-align: right;
  color: #666;
  padding: 5px 15px;
  border-top: 1px solid #f4f4f4;
  background-color: #fff;
  display: block;
}
.footer-img{text-align:center;}
.footer-img > img{width:60px;}
.iScroll-categotys {
  position: relative;
  width: 100%;
  height: 120px;
  max-height: 120px;
  overflow: hidden;
  background-color: #fff;
}
.iScroll-categotys .categotys{
  position: absolute;
  height: 100%;
  width: auto;
}
.categotys > a {
  display: block;
  width: 120px;
  border: 0px solid #f4f4f4;
  z-index: 2;
  position: relative;
  height: 120px;
  float: left;
  text-align: center;
  color: #333;
}
.categotys > a img {
  max-height: 100%;
  max-width: 100%;
}
.categotys > a > .image-wrap {
  display: block;
  height: 80px;
  line-height: 80px;
  padding: 5px 0;
}
.list-goods:AFTER {
  content: "";
  clear: both;
  display: block;
}
.list-goods .goods-item {
  width: 50%;
  float: left;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
.list-goods .goods-item:nth-child(2n+0) {
  border-right: 0px solid #f4f4f4;
}
.goods-item > .info {
  padding: 5px 15px;
  display: block;
  color: #333;
}
.goods-item > .info > .name {
  display: block;
}
.goods-item > .info > .image-wrap {
  height: 180px;
  line-height: 180px;
}
.goods-item > .ops  {
  padding: 5px 15px;
}
.goods-item > .ops > strong {
  font-size: 16px;
  color: #EA6152;
  margin-right: 2px;
}
.goods-item > .ops > span {
  font-size: 14px;
  color: #999;
  margin-right: 2px;
}
.goods-item > .ops > .btn {
  display: block;
  float: right;
  width: 30px;
  text-align: right;
  color: #333;
}
.list-goods .load-more {
  width: 100%;
  float: left;
}
.goods-ops-wrap {
  background-color: #fff;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.goods-ops {
  overflow: hidden;
} 
.goods-ops > .item {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
}
.goods-ops > .item:FIRST-CHILD {
  padding-right: 5px;
}
.goods-ops > .item:LAST-CHILD {
  padding-left: 5px;
}
.goods-ops .btn {
  border: 1px solid #EA6152;
  width: 100%;
  display: block;
  padding: 3px;
  color: #EA6152;
  font-weight: bold;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.goods-ops .btn.easybuy {
  background-color: #EA6152;
  color: #fff;
}
.goods-ops .btn.disabled {
  color: #999;
  background-color: #f4f4f4;
  border-color:#f4f4f4; 
}
#outOfStock {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  color: #999;
  margin-left: -50px;
  margin-top: -53px;
  display: none;
}
#outOfStock > i {
  font-size: 100px;
}
.fixed-cart {
  width: 60px;
  height: 60px;
  position: fixed;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  bottom: 70px;
  right: 15px;
  overflow: hidden;
  z-index: 1000;
}
.fixed-cart > .bg {
  width: 100%;
  height: 100%;
  background-color: #666;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity:0.5;
}
.fixed-cart > i {
  font-size: 30px;
  z-index: 2;
  position: relative;
  color: #fff;
}
.fixed-cart > b {
  top: 8px;
  z-index: 3;
}
.pulldown {
  width: 100%;
  height: 36px;
  position: fixed;
  text-align: center;
  line-height: 36px;
  bottom: 50px;
  z-index: 999;
  left: 0;
  border-radius: 8px 8px 0 0;
}
.pulldown > .bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
}
.pulldown > i {
  font-size: 28px;
  z-index: 2;
  position: relative;
  color: #EA6152;
}
.goods-container {
  padding-top: 0;
  background-color:  #fff;
}
.goods-container .space {
  height: 15px;
  background-color: #f4f4f4;
  text-align: center;
  color: #999;
  line-height: 15px;
}
.goods-container .space > i {
  display: inline;
}
.goods-images {
  height: 320px;
}
.goods-images img {
  max-width: 100%;
}
.goods-images .swiper-slide {
  text-align: center;
}
.goods-images .swiper-pagination {
  text-align: center;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.goods-images .swiper-pagination-bullet {
  background: #ddd;
  opacity: 1;
  width: 10px;
  height: 10px;
}
.goods-images .swiper-pagination-bullet-active {
  background-color: #EA6152;
}
.goods-name {
  font-size: 20px;
  padding: 20px 15px 5px;
  text-align: center;
}
.goods-name > small {
  font-size: 100%;
  color: #999;
  margin-left: 10px;
  font-weight: normal;
}
.goods-describe {
  padding: 5px 15px;
  text-indent: 2em;
  color: #666;
  word-break:break-all; 
  word-wrap:break-word;
}
.goods-sale {
  padding: 0 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.goods-sale > strong {
  color: #EA6152;
  font-size: 30px;
  margin-right: 3px;
}
.goods-sale > span {
  color: #EA6152;
  margin-right: 3px;
}
.goods-tip {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}
.goods-image-tip {
  position: absolute;
  z-index: 1000;
  width: 80px;
  height: 80px;
}
.goods-image-tip > img {
  max-width: 100%;
}
.goods-evaluate {
  padding: 10px 15px;
}
.goods-evaluate-image > .image {
  display: block;
  width: 100%;
}
.goods-evaluate .title {
  margin-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  padding: 5px 0;
}
.goods-evaluate .image-wrap {
  height: 70px;
  width: 70px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}
.goods-evaluate .image-wrap > img {
  height: 100%;
}
.goods-evaluate .name {
  text-align: center;
  margin-top: 10px;
}
.goods-evaluate .name > span {
  display: inline-block;
  background-color: #EA6152;
  color: #fff;
  min-width: 70px;
  border-radius: 6px;
  padding: 0 10px;
  font-size: 14px;
}
.goods-evaluate .content {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  color: #999;
  position: relative;
  margin-left: 10px;
  min-height: 85px;
}
.goods-evaluate .content:BEFORE {
  width: 16px;
  height: 16px;
  border-top: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  content: "";
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  top: 50%;
  margin-top: -8px;
  background-color: #f4f4f4;
  z-index: 100;
  left: -8px;
}
.evaluate-wrap {
  display: flex;
}
.evaluate-wrap .evaluate-wrap-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.goods-big-images {
  text-align: center;
  margin-bottom: 10px;
}
.goods-big-images img{
  max-width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.search-top {
  padding-left: 35px;
}
.search-top>.icon-search-wrap {
  color: #bfbfbf;
  position: absolute;
  display: block;
  left: 15px;
}
.search-top>.search-btn {
  color: #fff;
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -12px;
}
.search-keywords {
  padding: 10px 15px;
  background-color: #fff;
}
.search-keywords:AFTER {
  content: "";
  display: block;
  clear: both;
}
.search-keywords .keyword {
  display: block;
  float: left;
  width: 33.333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 5px 5px 0;
}
.search-container .list-hd {
  text-align: left;
}
.category-container {
  padding-bottom: 0;
}
.category-filter {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 40px;
  border-bottom: 1px solid #f4f4f4;
  z-index: 1001;
}
.category-filter .filter-item {
  width: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
}
.filter-item  i {
  margin-left: 3px;
  font-size: 16px;
}
.filter-item > .filter-item-name {
  display: block;
  font-size: 14px;
}
.category-filter.open .filter-item-name {
  color: #999;
}
.category-filter.open .filter-item-name.cur {
  color: #333;
}
.category-filter .dropdown {
  display: block;
  width: 100%;
  background-color: #fff;
  top: 41px;
  padding: 0;
  position: absolute;
  display: none;
}
.category-filter .dropdown.cur {
  display: block;
}
.category-filter .dropdown:AFTER {
  content: "";
  display: block;
  clear: both;
}
.category-dropdown .iScroll{
  width: 50%;
  display: block;
  float: left;
  background-color: #f4f4f4;
  max-height: 280px;
  position: relative;
  overflow: hidden;
}

.category-dropdown .category-one-iScroll {
  background-color: #fff;
}
.category-dropdown .item {
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.category-dropdown .category-two >.item {
  padding: 10px 0;
  margin: 0 15px;
}
.category-dropdown .category-two > .item.category-all {
  border-bottom: 1px dotted #ddd;
}
.category-dropdown .item.active {
  background-color: #f4f4f4;
  color: #EA6152;
}
.sort-dropdown > .item {
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #f4f4f4;
}
.sort-dropdown > .item.active {
  color: #EA6152;
}
.cart-container {
  padding-top: 0;
  padding-bottom: 100px;
}
.cart-container .weui_check_label:HOVER, .cart-goods-ops .weui_check_label:HOVER{
  background-color: #fff;
}
.cart-container .list-hd {
  text-align: left;
  font-weight: normal;
}
.location {
  color: #333;
  background-color: #fff;
  margin-bottom: 10px;
}
.location .location-icon {
  color: #EA6152;
}
.location .location-address {
  line-height: 20px;
  display: block;
  padding-left: 10px;
}
.cart-goods-list {
  margin-top: 0px;
}
.cart-goods-list:BEFORE {
  height:0;
  display: none; 
}
.cart-goods-list .weui_cell:BEFORE {
  height:0;
  display: none; 
}
.cart-goods-list .weui_cell {
  border-bottom: 1px solid #f4f4f4;
}
.cart-goods {
  padding-left: 120px;
  position: relative;
  min-height: 80px;
}
.cart-goods .goods-image {
  position: absolute;
  width: 110px;
  overflow: hidden;
  height: 80px;
  top: 0;
  left: 0;
}
.cart-goods .goods-name {
  font-size: 16px;
  padding: 0;
  text-align: left;
}
.cart-goods .goods-pros {
  display: block;
  text-align: right;
  height: 25px;
  margin-bottom: 5px;
  line-height: 25px;
  font-size: 14px;
  color: #999;
}
.cart-goods .goods-price {
  color: #EA6152;
  font-weight: bold;
  height: 20px;
  padding: 0 0px;
}
.cart-goods-ft {
  position: relative;
  height: 30px;
  line-height: 30px;
}
.cart-goods-ft > .goods-price {
  height: 30px;
  line-height: normal;
  line-height: 30px;
}
.goods-quantity {
  float: right;
  font-size: 16px;
  display: block;
  color: #999;
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.goods-quantity > i {
  margin-right: 0;
  font-size: 26px;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
.goods-quantity > b {
  font-size: 18px;
  color: #666;
  font-weight: normal;
  padding: 0 8px;
  display: inline-block;
  vertical-align: middle;
}
.cart-goods-ops {
  color: #999;
  position: fixed;
  width: 100%;
  z-index: 501;
  bottom: 49px;
  border-bottom: 0;
  font-size: 14px;
  margin-top: 0;
}
.cart-goods-ops .weui_cell {
  padding: 5px 15px;
}
.cart-goods-ops:AFTER {
  display: none;
}
.cart-goods-ops .weui_icon_checked {
  display: inline-block;
  vertical-align: middle;
} 
.cart-goods-ops .weui_cell_bd {
  padding-left: 15px;
}
.cart-goods-ops .cart-price {
  color: #333;
  font-size: 20px;
  padding: 10px 0;
}
.cart-goods-ops .cart-price .amount{
  color:  #EA6152;
}
.cart-goods-ops .btn {
  padding: 5px 20px;
  background-color: #f4f4f4;
}
.cart-goods-ops .delBtn {
  display: none;
  color: #333;
}
.cart-goods-ops .buyBtn {
  color: #fff;
  background-color: #EA6152;
  font-size: 20px;
}
.member-container {
  padding-top: 0;
}
.member-head {
  height: 160px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  display: block;
}
.member-head .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.member-head .bg > .bg-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}
.member-head .bg > img {
  max-width: 100%;
  width: 100%;
}
.member-head .bd {
  display: flex;
  padding: 20px 20px;
}
.member-head .bd .member-name {
  flex: 1;
  padding-left: 10px;
}
.member-head .member-image {
  z-index: 2;
  height: 70px;
  width: 70px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
}
.member-head .member-name {
  z-index: 2;
  position: relative;
  color: #fff;
}
.member-head .member-name .-name {
  padding-top: 10px;
}
.member-head .member-name .-image {
  padding-top: 5px;
}
.member-head .member-name .-image > img{
  width: 75px;
}
.member-head .member-info {
  z-index: 2;
  position: relative;
  line-height: 70px;
}
.member-head .member-info .-ops {
  color: #EA6152;
  border: 1px solid #EA6152;
  padding: 4px;
  font-size: 13px;
  border-radius: 4px;
}
.member-head .member-info  i {
  color: #fff;
  font-size: 24px;
}
.member-head .ft {
  padding-top: 6px;
}
.member-head .ft:AFTER {
  content: "";
  display: block;
  clear: both;
}
.member-head .ft .item {
  z-index: 2;
  position: relative;
  color: #fff;
  width: 33.3333%;
  float: left;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
}
.member-head .item:AFTER {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  border-left: 1px solid #ddd;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
.member-head .ft .item:LAST-CHILD:AFTER {
  display: none;
}
.member-container .list-hd {
  text-align: left;
}
.member-container .order-states {
  background-color: #fff;
  overflow: hidden;
  padding: 10px 15px;
  text-align: center;
}
.member-container .order-state {
  width: 25%;
  display: block;
  float: left;
  color: #666;
  position: relative;
}
.member-container .order-state > b{
  color: #fff;
  background-color: #EA6152;
  width: 16px;
  height: 16px;
  position: absolute;
  display: block;
  border-radius: 50%;
  font-size: 12px;
  font-weight: normal;
  top: 4px;
  left: 50%;
  margin-left: 4px;
  line-height: 16px;
  display: none;
}
.member-container .order-state > span {
  display: block;
  font-size: 14px;
}
.member-container .order-state  i {
  display: block;
  font-size: 24px;
}
.member-container .order-state > .-bg {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  background-color: #FBF2E1;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
}
.member-container .order-state > .-bg > i {
  color: #EFAB3E;
  font-size: 20px;
}
.member-container .order-state > .-bg.-blue {
  background-color: #E4F4F4;
}
.member-container .order-state > .-bg.-blue > i {
  color: #4DB6BA;
}
.member-container .list-hd .ops-left > i {
  color: #EA6152;
  font-size: 20px;
  position: relative;
  top: -2px;
}
.receiver-container {
  padding-top: 0;
}
.receiver-container .sendVerification {
  background-color: #EA6152;
  color: #fff;
  padding: 4px 10px;
}
.receiver-container .sendVerification.disabled {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #ddd;
  color: #fff;
}
.receiver-container .verify-result {
  color: #EA6152;
}
.receiver-container .verify-result.success {
  color: #09bb07;
}
.receiver-container .weui_cell:before {
  display: block;
}
.receiver-container .weui_cells>.weui_cell:FIRST-CHILD:before {
  display: none;
}
.receiver-container .list-hd {
  text-align: left;
}
.receiver-container .weui_cells_form:FIRST-CHILD {
  margin-top: 0;
}
.location-dingwei {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 15px;
  display: block;
}
.receiver-ops-wrap {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
}
.receiver-ops-wrap .receiver-ops {
  padding: 10px 15px;
}
.receiver-ops-wrap .receiver-ops .btn {
  background-color: #EA6152;
  color: #fff;
  padding: 4px 25px;
}
.receiver-ops-wrap .receiver-ops.one-ops .item {
  text-align: center;
  width: 100%;
}
.receiver-list  {
  margin-top: 0;
}
.receiver-list:BEFORE, .receiver-list:AFTER {
  display: none;
}
.receiver-list .weui_cell:AFTER,  .receiver-list .weui_cell:BEFORE{
  display: none;
}
.receiver-list .weui_cell {
  border-bottom: 1px solid #f4f4f4;
}
.receiver-list .weui_cell:LAST-CHILD {
  border-bottom: 0px solid #f4f4f4;
}
.receiver-list .weui_cell .receiver-edit {
  display: block;
  width: 40px;
  line-height: 40px;
  text-align: right;
}
.receiver-list .receiver > h4, .location-address > h4 {
  font-weight: normal;
}
.receiver-list .receiver > h4 >small, .location-address > h4>small {
  font-size: 100%;
  padding-left: 10px;
}
.receiver-list .receiver > p, .location-address > p {
  color: #999;
  font-size: 14px;
}
.receiver-sex .weui_check_label {
  margin-right: 20px;
  display: inline-block;
}
.receiver-sex .weui_icon_checked {
  margin-right: 5px;
}
.receiver-sex  .weui_icon_checked:before {
  content: '\EA01';
  color: #c9c9c9;
  font-size: 23px;
  display: inline-block;
}
.receiver-sex .weui_check:checked+.weui_icon_checked:before {
  content: '\EA06';
  color: #09bb07;
}
.order-container {
  padding-top: 0;
}
.order-container .list-hd {
  text-align: left;
}
.order-ops-wrap {
  background-color: #fff;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.order-ops {
  overflow: hidden;
} 
.order-ops > .item {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
}
.order-ops .btn {
  border: 1px solid #EA6152;
  width: 100%;
  display: block;
  padding: 3px;
  color: #EA6152;
  font-weight: bold;
  font-size: 14px;
}
.order-ops .btn.easybuy {
  background-color: #EA6152;
  color: #fff;
}
.order-ops .btn.cartBuy,  .order-ops .btn.payBtn{
  background-color: #EA6152;
  color: #fff;
}
.order-ops .order-price {
  text-align: left;
}
.order-ops .order-price > strong {
  padding: 5px;
  color: #EA6152;
}
.order-goods-list {
  margin-top: 0px;
}
.order-goods-list:BEFORE {
  height:0;
  display: none; 
}
.order-goods-list .weui_cell:BEFORE {
  height:0;
  display: none; 
}
.order-goods-list .weui_cell {
  border-bottom: 1px solid #f4f4f4;
}
.order-goods .weui_cell_primary{
  padding-left: 20px;
  min-height: 80px;
}
.order-goods .goods-image {
  width: 110px;
  overflow: hidden;
  height: 80px;
  top: 0;
  left: 0;
}
.order-goods .goods-name {
  height: 50px;
  font-size: 16px;
  padding: 0;
  text-align: left;
}
.order-goods .goods-price {
  font-weight: normal;
  height: 20px;
}
.order-goods .order-goods-quantity {
  font-size: 16px;
  color: #999;
  min-height: 80px;
  text-align: right;
}
.order-goods .order-goods-quantity  strong {
  font-weight: normal;
  padding-left: 7px;
}
.order-goods .order-goods-quantity .store {
  color: #EA6152;
  font-size: 12px;
  font-weight: normal;
}
.order-container .order-total {
  text-align: right;
}
.order-container .order-total > strong {
  padding-left: 7px;
}
.order-simple-list .order-goods .goods-image {
  display: inline-block;
  margin-right: 10px;
}
.order-simple-list .weui_cell_primary {
  padding: 0;
  max-height: 80px;
  overflow: hidden;
}
.order-simple-list:AFTER {
  display: none;
}
.order-simple-list .weui_cell {
  border-bottom: 0px solid #f4f4f4;
}
.model-y {
  display: block;
}
.order-info {
  padding: 10px 15px;
  background-color: #fff;
  line-height: 30px;
  margin-bottom: 10px;
  color: #999;
}
.order-info > .item > .item-content {
  float: right;
  padding: 0 5px;
}
.order-info > .item:FIRST-CHILD {
  color: #666;
}
.order-info > .item-detail {
  display: flex;
}
.order-info > .item-detail .item-content{
  font-size: 13px;
  flex: 1;
  float: none;
  text-align: right;
  line-height: 18px;
  padding-top: 6px;
}
.order-info > .item-detail .item-content > span {
  margin-left: 5px;
  display: inline-block;
}
.order-remarks {
  background-color: #fff;
}
.actionSheet-wrap .actionSheet {
  z-index: 5000;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  max-height: 200px;
  background-color: #fff;
  width: 100%;
  padding-top: 50px;
}
.actionSheet .ops {
  height: 50px;
  line-height: 30px;
  padding: 10px 15px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.actionSheet .ops > .btn {
  display: inline-block;
}
.actionSheet .ops > .btn.right {
  float: right;
}
.actionSheet .iScroll-wrap {
  width: 100%;
  height: 100%;
  border-top: 1px solid #f4f4f4;
}
.actionSheet .iScroll {
  float: left;
  width: 50%;
  max-height: 100%;
  overflow: hidden;
}
.actionSheet .iScroll .item {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 5px 10px;
  border-bottom: 1px dotted transparent;
}
.actionSheet .actionSheet-one-iScroll .item {
  border-bottom: 1px dotted #f4f4f4;
}
.actionSheet .iScroll .item.cur {
  color: #EA6152;
}
.rich_media .rich_media-inner {
  padding: 20px 15px 15px;
}
.rich_media_title {
  line-height: 1.4;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}
.rich_media_meta_list {
  margin-bottom: 18px;
  line-height: 20px;
  font-size: 0;
}
.rich_media_meta {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  font-style: normal;
}
.rich_media_meta_text {
  color: #8c8c8c;
}
.rich_media_meta_nickname {
  display: inline-block!important;
}
.rich_media_content {
  overflow: hidden;
  color: #3e3e3e;
  font-size: 18px;
  position: relative;
  min-height: 350px;
}
.qr_code_pc_outer {
  display: none;
}
@media screen and (min-width: 1024px) {
  .rich_media {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
  }
  .rich_media .rich_media-inner {
    padding: 20px;
  }
  .rich_media .rich_media_title {
    border-bottom: 1px solid #e7e7eb;
    padding-bottom: 10px;
    margin-bottom: 14px;
  }
  
  .qr_code_pc_outer {
    display: block!important;
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    color: #717375;
    text-align: center;
  }
  .qr_code_pc_inner {
    position: relative;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }
  .qr_code_pc {
    position: absolute;
    right: -145px;
    top: 0;
    padding: 16px;
    border: 1px solid #d9dadc;
    background-color: #fff;
  }
  .qr_code_pc_img {
    width: 102px;
    height: 102px;
  }
  .qr_code_pc p {
    font-size: 14px;
    line-height: 20px;
  }
}
.rich_media-rela {
  padding: 20px;
}
.rich_media-rela > .title {
  color: #999;
  padding: 10px 0;
}
.rich_media-rela > .item {
  position: relative;
  display: block;
  min-height: 60px;
  border: 1px solid #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  padding-left: 100px;
}
.rich_media-rela > .item > .image-wrap {
  position: absolute;
  left: 10px;
  width: 80px;
  display: block;
}
.payment-on {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.payment-on i {
  margin-right: 5px;
}
.payment-on .state {
  line-height: 40px;
  font-size: 18px;
}
.payment-on .time {
  color: #999;
  font-size: 14px;
}
.payment-on .time > .remain-time {
  padding-left: 10px;
}
.payment-methods .method {
  color: #09BB07;
  font-size: 18px;
}
.payment-methods.weui_cells:BEFORE, 
.payment-methods.weui_cells:after{
  border: 0;
  display: none;
}
.native-pay-qrcode {
  text-align: center !important;
}
.native-pay-qrcode > .hd {
  line-height: 28px;
  font-size: 14px;
  text-align: center;
}
.native-pay-qrcode > .image-wrap {
  overflow: hidden;
}
.native-pay-qrcode img {
  width: 120%;
  max-width: 120%;
  margin-left: -20%;
  margin-right: -20%;
  margin-top: -13%;
  margin-bottom: -13%;
}
.native-pay-qrcode > .tip {
  line-height: 28px;
  font-size: 14px;
  text-align: center;
}
.order-list-wrap {
  top: 0;
  bottom: auto;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
}
.order-list-wrap .weui_tabbar_item {
  padding: 0;
  padding: 0 15px;
  text-align: center;
}
.order-list-wrap .weui_tabbar_item > .weui_tabbar_label {
  font-size: 16px;
  display: block;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
  height: 40px;
  line-height: 40px;
}
.order-list-wrap .weui_tabbar_item.cur > .weui_tabbar_label {
  border-color: #EA6152;
  font-weight: bold;
  color: #EA6152;
}
.order-list-wrap.weui_tabbar:before {
  display: none;
}
.orders-container {
  background-color: #fff;
  margin-top: 55px;
  padding: 0;
}
.orders-container .list-group .list-hd {
  text-align: left;
  font-weight: normal;
}
.orders-container .order-goods .goods-name {
  vertical-align: top;
  color: #666;
}
.orders-container .order-goods .images {
  max-height: 80px;
  overflow: hidden;
}
.orders-container .order-goods .weui_cell_primary {
  max-height: 102px;
}
.orders-container .order-goods .total {
  text-align: right;
  color: #666;
}
.orders-container .order-goods .goods-price {
  color: #EA6152;
  padding: 0 5px;
}
.orders-container .toPay {
  border: 1px solid #EA6152;
  display: inline-block;
  padding: 3px;
  color: #EA6152;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 5px 15px;
  background-color: #EA6152;
  color: #fff;
}
.orders-container .toReceipt {
  border: 1px solid #EA6152;
  display: inline-block;
  padding: 3px;
  color: #EA6152;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 5px 15px;
  background-color: #EA6152;
  color: #fff;
}
.btns {
  text-align: center;
  padding: 20px 15px 0;
}
.toPay, .toApplyReturn, .toApplyRefund {
  border: 1px solid #EA6152;
  display: inline-block;
  padding: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 5px 15px;
  background-color: #EA6152;
  color: #fff;
}
.toList {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 5px 15px;
  background-color: #ddd;
  color: #fff;
}
.message-container {
  padding-top: 10px;
}
.message-container .message {
  padding: 10px 15px;
  display: block;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  color: #999;
}
.message-container .message.unread {
  color: #EA6152;
}
.message-container .message .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.message-container .message .ops {
  color: #999;
  width: 80px;
  text-align: right;
}
.msg-tag > b, .coupon-tag > b, .appraise-tag > b {
  color: #fff;
  background-color: #EA6152;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
  display: none;
}
.address-container {
  padding-bottom: 20px;
}
.address-container .locationAddress {
  padding: 5px 15px;
  background-color: #fff;
  display: block;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}
.address-container .locationAddress > i {
  font-size: 18px;
  margin-right: 10px;
  color: #999;
}
.address-container .address {
  border-bottom: 1px solid #f4f4f4;
}
.address-container .-address {
  padding-left: 15px;
}
.address-container .-address > h4 {
  font-weight: normal;
}
.address-container .-address > p {
  color: #999;
  font-size: 14px;
}
.about {
  padding: 0 15px;
}
.about > .title {
  margin: 20px 0 15px 0;
  text-align: center;
}
.about > p {
  text-indent: 2em;
}
.to-order-detail {
  color: #999;
  padding: 10px 15px;
  text-align: center;
  display: block;
}
footer {
  font-size: 13px;
  text-align: center;
  color: #999;
  margin: 0px 15px 0 15px;
  padding-top: 15px;
}
footer > span {
  margin-right: 5px;
}
.goods-promotions {
  background-color: #f4f4f4;
  margin: 10px;
}
.goods-promotions > .space-wrap {
  padding-bottom: 10px;
  background-color: #fff;
}
.goods-promotions > .title, .goods-promotions > .promotions {
  padding: 0 10px;
}
.goods-promotions > .title {
  padding-top: 5px; 
  padding-bottom: 5px;
  border-bottom: 1px dotted #EA6152;
  background-color: #EA6152;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.goods-promotions > .promotions {
  border: 1px solid #EA6152;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}
.goods-promotions .promotion {
  display: block;
  padding: 5px 0;
}
.cart-goods-promotion {
  height: 40px;
  line-height: 40px;
  background-color: #bffab1;
  font-size: 14px;
  padding: 0 15px;
}  
.cart-goods-promotion.-invalid {
  background-color: #ddd;
}
.cart-goods-promotion >.-type {
  padding: 4px;
  color: #fff;
  background-color: #EA6152;
}
.cart-goods-promotion >.-status {
  float: right;
}
.list-group.select-promotions {
  margin-bottom: 0;
}
.select-promotions .list-hd {
  text-align: left;
  min-width: 200px;
}
.select-promotions .-type {
  padding: 4px;
  color: #fff;
  background-color: #EA6152;
}
.order-promotions {
  margin-bottom: 10px;
}
.order-promotions .cart-goods-promotion {
  border-bottom: 1px solid #f4f4f4;
}
.order-promotions .cart-goods-promotion:LAST-CHILD {
  border-bottom: 0;
}
.order-coupons .-type {
  padding: 4px;
  color: #fff;
  background-color: #EA6152;
}
.order-redenvelope .-redenvelope {
  position: fixed;
  z-index: 5000;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  max-width: 320px;
}
.order-redenvelope .-redenvelope .image-wrap {
  position: relative;
}
.order-redenvelope .-redenvelope .image-wrap > .-anchor {
  position: absolute;
  width: 64%;
  height: 80%;
  left: 18%;
  top: 20%;
}
.order-redenvelope-2 .-redenvelope .image-wrap > .-anchor {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 45%;
  font-weight: 700;
  color: #EA6152;
}
.toShippingStep {
  color: #337ab7 !important;
}
.shipping-step {
  background-color: #fff;
  margin-bottom: 1px;
}
.toOrderView {
  width: 100%;
  box-sizing: border-box;
}
.padding-image {
  padding: 0 10px;
}
.margin-space {
  margin: 0 10px;
}
.not-fixed {
  position: relative;
}
.appraise-top {
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.appraise-top .ops-left {
  position: absolute;
  float: none;
  left: 15px;
  display: block;
  top: 50%;
  margin-top: -9.5px;
}
.appraise-top .ops-left img {
  width: 11px;
  display: block;
}
.appraise-tabbar .weui_tabbar_label {
  font-size: 14px !important;
  line-height: 26px !important;
}
.appraise-tabbar .-num {
  display: block;
  line-height: 14px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
.appraise-container {
  margin-top: 8px;
}
.appraise-container .to-appraise {
  padding: 3px 5px;
  border: 1px solid #EA6152;
  color: #EA6152;
  margin-top: 49px;
  display: block;
}
.appraise-container .to-appraise > i {
  margin-right: 3px;
}
.product-appraise {
  background-color: #fff;
  margin-bottom: 10px;
  margin: 10px;
  padding: 5px;
}
.product-appraise .weui_cells_form {
  background-color: #f4f4f4;
}
.product-appraise .weui_textarea {
  background-color: #f4f4f4;
}
.appraise-grade.rappraise {
  padding-top: 0;
}
.appraise-grade.rappraise .weui_cells_form {
  margin-top: 0;
}
.rappraise .list-hd {
  background-color: #0099CC;
  color: #fff;
}
.product-appraise  .enclosure-form {
  background-color: #fff;
}
.enclosure-form {
  color: #999;
  margin-top: 5px;
  background-color: #fff;
  padding: 10px;
}
.enclosure-form .add-appraise {
  display: block;
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4;
}
.appraise-grade {
  background-color: #f4f4f4;
  padding-top: 10px;
}
.appraise-grade .appraise-grade-inner {
  background-color: #fff;
}
.appraise-grade .list-hd {
  text-align: left;
}
.appraise-grade .list-hd .ops {
  font-size: 14px;
}
.appraise-detail-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.appraise-detail-container {
  margin-top: 55px;
}
.rappraise_tag {
  background-color: #0099CC;
  color: #fff;
  padding: 3px 5px;
  font-size: 14px;
  font-style: normal;
  margin-right: 5px;
}
.product-appraise .goods-name {
  height: 40px;
}
.product-appraise .product-grade_hint {
  height: 10px;
  font-size: 14px;
  color: #999;
}
.appraise-wrap {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px; 
}
.appraise-wrap .appraise_stat {
  padding: 5px 0;
}
.appraise-wrap .appraise_topic {
  position: relative;
}
.appraise-wrap .appraise_more {
  display: block;
  width: 80px;
  padding: 3px 10px;
  margin: 5px auto;
  border: 2px solid #EA9414;
  color: #EA9414;
  border-radius: 8px;
  text-align: center;
}
.appraise_topic .user-headimg {
  width: 50px;
  height: 50px;
}
.appraise_topic .user-headimg > img {
  width: 100%;
  height: 100%;
}
.appraise_topic .topic-hd {
  display: flex;
  margin-bottom: 5px;
}
.appraise_topic .topic-hd .user-name{
  flex: 1;
  padding: 10px;
  font-size: 14px;
}
.appraise_topic .topic-bd .-content {
  font-size: 16px;
  color: #333;
  height: 25px;
  overflow: hidden;
  text-overflow:ellipsis;
}
.appraise_topic .topic-bd .-add_content {
  font-size: 14px;
  color: #333;
  height: 25px;
  overflow: hidden;
  text-overflow:ellipsis
}
.appraise_topic .topic-bd .-add_content > .rappraise_tag {
  background-color: #0099CC;
  color: #fff;
  padding: 3px 5px;
  font-size: 14px;
  font-style: normal;
  margin-right: 5px;
}
.appraise_topic .topic-bd .-images > img {
  width: 120px;
  border: 1px solid #fff;
}
.appraise_topic .topic-bd .-time {
  font-size: 14px;
  color: #999;
}
.appraise_topic .topic-bd .-p_name {
  margin-left: 15px;
  color: #999;
}

.image-round {
  width: 55px;
  height: 55px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: block;
  position: relative;
}
.image-round > img{
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius:50%;
}
.image-round > span {
  font-size: 13px;
  color: #fff;
  display: block;
  bottom: 5px;
  z-index: 99;
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  height: 22px;
}

.member-edit {
  background-color: transparent;
}
.member-edit {
  margin-top: 0;
  color: #888;
  font-size: 14px;
}
.member-edit:BEFORE {
  height: 0;
  border: 0;
}

.edit_img {
  display: none;
}
.edit_img_mode {
  background-color: #000;
}
.edit_img_mode .edit_main, .edit_img_mode .footer-top, .edit_img_mode .weui_tabbar {
  display: none;
}
.edit_img_mode .edit_img {
  display: block;
}
.edit_img  .btns:AFTER {
  content: "";
  display: block;
  clear: both;
}
.edit_img .btns {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #373b3e;
}
.edit_img  .btns a{
  display: block;
  color: #fff;
  font-size: 24px;
}
.edit_img .btns a > .iconfont {
  font-size: inherit;
}
.edit_img .btns a.back {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: left;
}
.edit_img .btns a.img_save {
  text-align: right;
  font-size: 16px;
}
.edit_img .file_editor {
  margin: 40px auto;
  padding: 0;
  margin-bottom:  0;
  text-align: center;
}
.edit_img .file_editor img {
  max-width: 100%;
}
.user-rank {
  background-color: #fff;
  padding: 10px 20px;
}
.rank-image {
  max-width: 420px;
  margin: 0 auto;
  position: relative;
  height: 200px;
}
.rank-image .bg {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  position: absolute;
}
.rank-image .bg > img {
  width: 100%;
  height: 100%;
  display: block;
}
.rank-image .rank-data {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 12px;
  color: #fff;
  line-height: 22px;
  opacity:0.8;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rank-image .rank-data .-sn {
  float: left;
  padding: 0 10px;
  font-size: 18px;
}
.rank-image .rank-data .-date {
  float: right;
  padding: 0 10px;
}
.rank-image .rank-right {
  position: absolute;
  display: block;
  right: 15px;
  z-index: 2;
  color: #fff;
  top: 30px;
  font-size: 14px;
  text-decoration: underline;
}
.user-rank .rank-name {
  max-width: 420px;
  margin: 0 auto;
  padding: 10px 0 5px 0;
  font-size: 14px;
}
.user-rank .rank-name .-name {
  float: right;
  color: #EA6152;
}
.user-rank .rank-name .iconfont {
  color: #FFB800;
  position: relative;
  top: -1px;
  margin-right: 5px;
  font-size: 18px;
}
.ranks {
  padding: 10px;
}
.rank-detail {
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.rank-detail .rank-name {
  text-align: center;
  font-weight: 700;
}
.rank-detail .rank-price {
  text-align: center;
  color: #EA6152;
  font-size: 12px;
}
.rank-detail .item{
  position: relative;
  background-color: #FFB800;
  border-radius: 4px;
  padding: 5px;
  padding-left: 40px;
  margin-top: 12px;
}
.rank-detail .item b {
  font-weight: normal;
  margin: 0 3px;
  color: #EA6152;
}
.rank-detail .item .-name {
  font-weight: 700;
}
.rank-detail .item .-data {
  font-size: 13px;
  color: #666;
  font-weight: normal;
}
.rank-detail .item .-image {
  position: absolute;
  left: 10px;
  top: 5px;
  color: #fff;
}
.rank-detail .item .-image > i {
  font-size: 22px;
}
.rank-detail.grade-1 {
  padding: 0;
}
.rank-detail.grade-1 .rank-name {
  padding: 5px;
  padding-bottom: 0;
}
.rank-detail.grade-1 .rank-price{
  border-bottom: 1px solid #ddd;
  padding: 0 5px 5px 5px;
}
.rank-detail.grade-1 .rank-right:AFTER {
  content: "";
  display: block;
  clear: both;
}
.rank-detail.grade-1 .item {
  float: left;
  width: 33.3333%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  border-radius: 0;
}
.rank-detail.grade-1 .rank-right .item:LAST-CHILD {
  border-right: 0px solid #ddd;
}
.rank-detail.grade-1 .item .-image {
  position: relative;
  color: #FC4E41;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #FC4E41;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  margin: 5px auto;
}
.rank-detail.grade-1 .item .-image > i {
  font-size: 26px;
}
.rank-detail.grade-3 .item {
  background-color: #2E2E2E;
  color: #fff;
}
.rank-detail.grade-3 .item .-data {
  color: #fff;
}
.rank-detail.grade-3 .item b {
  color: #FFB800;
}
.ranks {
  margin-bottom: 60px;
}
.rank-open {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  box-sizing: border-box;
}
.rank-open:AFTER {
  content: "";
  display: block;
  clear: both;
}
.rank-open .-rank_wrap {
  display: block;
  float: left;
  width: 50%;
}
.rank-open .-rank {
  padding: 8px 0;
  background-color: #EA6152;
  font-size: 12px;
  color: #fff;
  display: block;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}
.user-rank.rank-buy {
  background-color: transparent;
}
.rank-group .list-hd{
  background-color: transparent;
  text-align: left;
  border-bottom-color: #ddd;
  padding: 5px 20px;
}
.rank-group .-price {
  color: #EA6152;
}
.rank-pay {
  margin: 0 auto;
  width: 60px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.rank-pay .-big {
  height: 60px;
  border-radius: 50%;
  border: 1px solid #55BF56;
  line-height: 60px;
}
.rank-pay .-big > i {
  color: #55BF56;
  font-size: 32px;
}
.rank-pay .-small {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:  #55BF56;
  color: #fff;
  line-height: 20px;
  right: 0;
  top: 0;
}
.rank-pay .-small > i {
  font-size: 13px;
}
.rank-pay .-name {
  font-size: 14px;
  padding: 10px 0;
}
.rank-pay_btn {
  margin-bottom: 40px;
}
.point-page {
  background-color: #fff;
}
.point-total {
  background-color: #f3f3f3;
  padding: 10px 15px;
}
.point-total .num > b {
  font-size: 24px;
  color: #EA6152;
}
.point-total .desc > b {
  color: #EA6152;
  margin: 0 3px;
}
.point-total .desc {
  font-size: 14px;
  color: #999;
}
.point-group .list-hd {
  text-align: left;
  color: #999;
}
.point-item {
  display: flex;
  margin: 0 0 0 15px;
  padding: 5px 0;
  border-bottom: 1px solid #f4f4f4;
}
.point-item .data {
  flex: 1;
}
.point-item .data .-date {
  color: #999;
}
.point-item .num {
  font-size: 18px;
  min-width: 60px;
}
.point-item .num-0 {
  color: #009966;
}
.ranks-320 { 
  max-width: 420px;
  margin: 0 auto;
}
@-webkit-keyframes a{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}to{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes a{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}to{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@-webkit-keyframes b{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}}@keyframes b{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}}.enter,.leave{position:absolute;top:0;right:0;bottom:0;left:0;z-index:1}.enter{-webkit-animation:a .2s forwards;animation:a .2s forwards}.leave{-webkit-animation:b .25s forwards;animation:b .25s forwards}
.share{width:100%;height:100%;position:fixed;z-index:100;top:0;display: block;}.share img{position:absolute;width:100%;max-width:100%;top:-55px;right:0;z-index:2}.share .share-bg{width:100%;height:100%;position:absolute;top:0;background-color:rgba(0,0,0,.6)}