<!DOCTYPE html>
<html>
<head>
<title>系统发生内部错误【500】</title>
[#include "/front/include/head.html"/]
</head>
<body>
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_warn"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">系统发生内部错误</h2>
        <p class="weui_msg_desc">请反馈给系统管理员，谢谢！</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
           <a href="${ctxFront}" class="weui_btn weui_btn_primary">去首页逛逛</a>
        </p>
    </div>
</div>
</body>
</html>