<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.shop.dao.PaymentDao" >
  <resultMap id="BaseResult" type="com.tmt.shop.entity.Payment"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="SN" property="sn" jdbcType="VARCHAR"/>
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT"/>
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="ORDER_ID" property="orderId" jdbcType="BIGINT"/>
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL"/>
    <result column="PAY_BODY" property="payBody" jdbcType="VARCHAR"/>
    <result column="PAY_FLAG" property="payFlag" jdbcType="TINYINT"/>
    <result column="TRANSACTION_ID" property="transactionId" jdbcType="VARCHAR"/>
    <result column="EPAY_ID" property="epayId" jdbcType="BIGINT"/>
    <result column="PAYER" property="payer" jdbcType="VARCHAR"/>
    <result column="PAYMENT_DATE" property="paymentDate" jdbcType="TIMESTAMP"/>
    <result column="ACCOUNT" property="account" jdbcType="VARCHAR"/>
    <result column="MODULE" property="module" jdbcType="TINYINT"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="long" >
   SELECT ID, SN, CREATE_ID, CREATE_NAME, CREATE_DATE, ORDER_ID, AMOUNT, PAY_BODY, 
          PAY_FLAG, TRANSACTION_ID, EPAY_ID, PAYER, PAYMENT_DATE, ACCOUNT, MODULE
     FROM SHOP_PAYMENT
    WHERE ID = #{id}
  </select>
  
  <select id="findByCondition" resultMap="BaseResult" parameterType="queryCondition" >
   SELECT ID, SN, CREATE_ID, CREATE_NAME, CREATE_DATE, ORDER_ID, AMOUNT, PAY_BODY, 
          PAY_FLAG, TRANSACTION_ID, EPAY_ID, PAYER, PAYMENT_DATE, ACCOUNT, MODULE
     FROM SHOP_PAYMENT
    <include refid="COMMON.whereClause"/>
    <if test="orderByClause != null">ORDER BY ${orderByClause}</if>
  </select>
  <select id="findByConditionStat" parameterType="queryCondition" resultType="int" >
    SELECT COUNT(1) C FROM SHOP_PAYMENT
    <include refid="COMMON.whereClause" />
  </select>
  
  <delete id="delete" parameterType="com.tmt.shop.entity.Payment" >
   DELETE FROM SHOP_PAYMENT WHERE ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.tmt.shop.entity.Payment" >
   INSERT INTO SHOP_PAYMENT (ID, SN, CREATE_ID, CREATE_NAME, CREATE_DATE, ORDER_ID, AMOUNT, PAY_BODY, 
          PAY_FLAG, TRANSACTION_ID, EPAY_ID, PAYER, PAYMENT_DATE, ACCOUNT, MODULE)
   VALUES (#{id}, #{sn}, #{createId}, #{createName}, #{createDate}, #{orderId}, #{amount}, #{payBody},
		  #{payFlag}, #{transactionId}, #{epayId}, #{payer}, #{paymentDate}, #{account}, #{module})
  </insert>
  
  <update id="update" parameterType="com.tmt.shop.entity.Payment" >
   UPDATE SHOP_PAYMENT
      SET PAY_FLAG = #{payFlag},
		  TRANSACTION_ID = #{transactionId},
		  PAYER = #{payer},
		  PAYMENT_DATE = #{paymentDate}
    WHERE ID = #{id}
  </update>
  
  <select id="queryPaymentsByOrderId" resultMap="BaseResult" parameterType="long" >
   SELECT ID, SN, CREATE_ID, CREATE_NAME, CREATE_DATE, ORDER_ID, AMOUNT, PAY_BODY, 
          PAY_FLAG, TRANSACTION_ID, EPAY_ID, PAYER, PAYMENT_DATE, ACCOUNT, MODULE
     FROM SHOP_PAYMENT
    WHERE ORDER_ID = #{id}
    ORDER BY CREATE_DATE DESC
  </select>
  
  <select id="checkAutoPayment" parameterType="java.util.Map" resultType="int" >
    SELECT COUNT(1) C FROM SHOP_PAYMENT
     WHERE ORDER_ID = #{ORDER_ID} AND PAYER = #{PAYER} AND PAYMENT_DATE = #{PAYMENT_DATE}
  </select>
  
  <update id="updateEpay" parameterType="com.tmt.shop.entity.Payment" >
   UPDATE SHOP_PAYMENT
      SET EPAY_ID = #{epayId}
    WHERE ID = #{id}
  </update>
  
  <resultMap id="LockBaseResult" type="com.tmt.shop.entity.Payment"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="PAY_FLAG" property="payFlag" jdbcType="TINYINT"/>
  </resultMap>
  
  <select id="lock" resultMap="LockBaseResult" parameterType="Long">
   SELECT ID, PAY_FLAG FROM SHOP_PAYMENT WHERE ID = #{id} FOR UPDATE
  </select>
  
</mapper>