<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.shop.dao.BrandDao" >
  <resultMap id="BaseResult" type="com.tmt.shop.entity.Brand"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="LOGO" property="logo" jdbcType="VARCHAR"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
    <result column="URL" property="url" jdbcType="VARCHAR"/>
    <result column="SORT" property="sort" jdbcType="INTEGER"/>
    <result column="INTRODUCTION" property="introduction" jdbcType="LONGVARCHAR"/>
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT"/>
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    <result column="DEL_FLAG" property="delFlag" jdbcType="TINYINT"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="long" >
   SELECT ID, LOGO, NAME, URL, SORT, INTRODUCTION, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE, DEL_FLAG
     FROM SHOP_BRAND
    WHERE ID = #{id}
  </select>
  
  <select id="getAll" resultMap="BaseResult">
   SELECT ID, LOGO, NAME, URL, SORT, INTRODUCTION, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE, DEL_FLAG
     FROM SHOP_BRAND
  </select>
  
  <select id="findByCondition" resultMap="BaseResult" parameterType="queryCondition" >
   SELECT ID, LOGO, NAME, URL, SORT, INTRODUCTION, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE, DEL_FLAG
     FROM SHOP_BRAND
    <include refid="COMMON.whereClause"/>
    <if test="orderByClause != null">ORDER BY ${orderByClause}</if>
  </select>
  <select id="findByConditionStat" parameterType="queryCondition" resultType="int" >
    SELECT COUNT(1) C FROM SHOP_BRAND
    <include refid="COMMON.whereClause" />
  </select>
  
  <delete id="delete" parameterType="com.tmt.shop.entity.Brand" >
   DELETE FROM SHOP_BRAND WHERE ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.tmt.shop.entity.Brand" >
   INSERT INTO SHOP_BRAND (ID, LOGO, NAME, URL, SORT, INTRODUCTION, CREATE_ID, CREATE_NAME, 
		  CREATE_DATE, UPDATE_DATE, DEL_FLAG)
   VALUES (#{id}, #{logo}, #{name}, #{url}, #{sort}, #{introduction}, #{createId}, #{createName}, 
		  #{createDate}, #{updateDate}, #{delFlag})
  </insert>
  
  <update id="update" parameterType="com.tmt.shop.entity.Brand" >
   UPDATE SHOP_BRAND
      SET LOGO = #{logo},
		  NAME = #{name},
		  URL = #{url},
		  SORT = #{sort},
		  INTRODUCTION = #{introduction},
		  UPDATE_DATE = #{updateDate},
		  DEL_FLAG = #{delFlag}
    WHERE ID = #{id}
  </update>
  
  <update id="updateSort" parameterType="com.tmt.shop.entity.Brand" >
   UPDATE SHOP_BRAND
      SET SORT = #{sort}
    WHERE ID = #{id}
  </update>
  
</mapper>