<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmt.shop.dao.DeliveryTemplateDao" >
  <resultMap id="BaseResult" type="com.tmt.shop.entity.DeliveryTemplate"> 
    <result column="ID" property="id" jdbcType="BIGINT"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
    <result column="BACKGROUND" property="background" jdbcType="VARCHAR"/>
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR"/>
    <result column="WIDTH" property="width" jdbcType="INTEGER"/>
    <result column="HEIGHT" property="height" jdbcType="INTEGER"/>
    <result column="IS_DEFAULT" property="isDefault" jdbcType="TINYINT"/>
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR"/>
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT"/>
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <select id="get" resultMap="BaseResult" parameterType="long" >
   SELECT ID, NAME, BACKGROUND, CONTENT, WIDTH, HEIGHT, IS_DEFAULT, REMARKS, 
		  CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM SHOP_DELIVERY_TEMPLATE
    WHERE ID = #{id}
  </select>
  
  <select id="getAll" resultMap="BaseResult">
   SELECT ID, NAME, BACKGROUND, CONTENT, WIDTH, HEIGHT, IS_DEFAULT, REMARKS, 
		  CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM SHOP_DELIVERY_TEMPLATE
  </select>
  
  <select id="findByCondition" resultMap="BaseResult" parameterType="queryCondition" >
   SELECT ID, NAME, BACKGROUND, CONTENT, WIDTH, HEIGHT, IS_DEFAULT, REMARKS, 
		  CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE
     FROM SHOP_DELIVERY_TEMPLATE
    <include refid="COMMON.whereClause"/>
    <if test="orderByClause != null">ORDER BY ${orderByClause}</if>
  </select>
  <select id="findByConditionStat" parameterType="queryCondition" resultType="int" >
    SELECT COUNT(1) C FROM SHOP_DELIVERY_TEMPLATE
    <include refid="COMMON.whereClause" />
  </select>
  
  <delete id="delete" parameterType="com.tmt.shop.entity.DeliveryTemplate" >
   DELETE FROM SHOP_DELIVERY_TEMPLATE WHERE ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.tmt.shop.entity.DeliveryTemplate" >
   INSERT INTO SHOP_DELIVERY_TEMPLATE (ID, NAME, BACKGROUND, CONTENT, WIDTH, HEIGHT, IS_DEFAULT, REMARKS, 
		  CREATE_ID, CREATE_NAME, CREATE_DATE, UPDATE_DATE)
   VALUES (#{id}, #{name}, #{background}, #{content}, #{width}, #{height}, #{isDefault}, #{remarks}, 
		  #{createId}, #{createName}, #{createDate}, #{updateDate})
  </insert>
  
  <update id="update" parameterType="com.tmt.shop.entity.DeliveryTemplate" >
   UPDATE SHOP_DELIVERY_TEMPLATE
      SET NAME = #{name},
		  BACKGROUND = #{background},
		  CONTENT = #{content},
		  WIDTH = #{width},
		  HEIGHT = #{height},
		  IS_DEFAULT = #{isDefault},
		  REMARKS = #{remarks},
		  UPDATE_DATE = #{updateDate}
    WHERE ID = #{id}
  </update>
  
  
</mapper>
